<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="Viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">

    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="apple-touch-icon" sizes="180x180" href="<%= require('/public/assets/favicon/apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= require('/public/assets/favicon/favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= require('/public/assets/favicon/favicon-16x16.png') %>">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- GetResponse Analytics -->
    <script type="text/javascript">
      (function(m, o, n, t, e, r, _){
              m['__GetResponseAnalyticsObject'] = e;m[e] = m[e] || function() {(m[e].q = m[e].q || []).push(arguments)};
              r = o.createElement(n);_ = o.getElementsByTagName(n)[0];r.async = 1;r.src = t;r.setAttribute('crossorigin', 'use-credentials');_.parentNode .insertBefore(r, _);
          })(window, document, 'script', 'https://newsletter.slg.lu/script/04309704-bfba-4e18-97d8-c7fc88928bfc/ga.js', 'GrTracking');
    
    
      </script>
    <!-- End GetResponse Analytics -->
  </head>
  <body>
    <a class="tp-skiplink" href="#content">Go to content</a>
    
    <tp-header-en active="article-0" url=".."></tp-header-en>

    <main class="tp-main">
      <div class="tp-section tp-container">
        <a href="../blog.html" class="tp-link"><i class="icon-arrow-left-long"></i> Blog</a>
        <div class="tp-flex mt-40">
          <div class="tp-flex__col tp-flex__col-md-8">
            <article>
              <header>
                <h1 class="tp-heading tp-heading--h1">28 days holiday with 6 days off</h1>
                <ul class="tp-list-blog-infos mt-24">
                  <li>
                    <i class="icon-calendar" aria-hidden="true"></i> 31/01/2024
                  </li>
                  <li>
                    <i class="icon-time" aria-hidden="true"></i> 3 min reading
                  </li>
                </ul>
              </header>
              <section class="tp-blog pt-48">
                <p class="tp-excerpt">
                  Remember, the key to enjoying an extended vacation with just 6 days off is thoughtful planning and a bit of creativity. 
                  With these strategies, you can savor a month of relaxation, exploration, and rejuvenation without breaking the bank on leave days.
                </p>
                <img src="<%= require('/public/assets/images/blog/2024-01-10/lifestyle.png') %>" alt="lifestyle" class="mb-40" style="width: 100%;">

                <p>To book your holidays, the LifeStyle Department is at your service to assist in planning your vacations throughout the year.</p>
                <p>☎️ +352 46 95 45 - 650</p>
                <p>📧 lifestyle@travel-pro.lu</p>
             
                <h2 class="mt-48 mb-24">28 days holiday with 6 days off</h2>
                <p>Easter Monday:</p>
                <ul class="mb-16">
                  <li>30-31 March - 1 April </li>
                </ul>

                <p>Labour Day:</p>
                <ul class="mb-16">
                  <li>1-2-3-4-5 May </li>
                </ul>

                <p>Europe Day:</p>
                <ul class="mb-16">
                  <li>9-10-11-12 May </li>
                </ul>

                <p>Whit Monday:</p>
                <ul class="mb-16">
                  <li>18-19-20-21 May </li>
                </ul>

                <p>Assumption Day:</p>
                <ul class="mb-16">
                  <li>15-16-17-18 August </li>
                </ul>

                <p>All Saints' Day:</p>
                <ul class="mb-16">
                  <li>1-2-3 November </li>
                </ul>

                <p>Christmas Day:</p>
                <ul class="mb-16">
                  <li>25-26-27-28-29 December </li>
                </ul>

                

              </section>
              <section>
                <div class="tp-share-social">
                  <p class="tp-paragraph tp-paragraph--14">Share this article :</p>
                  <ul>
                    <!--
                      https://www.facebook.com/sharer.php?u=YOUR_URL_HERE
                      https://twitter.com/intent/tweet?url=YOUR_URL_HERE
                      https://plus.google.com/share?url=YOUR_URL_HERE
                      https://www.linkedin.com/shareArticle?mini=true&url=YOUR_URL_HERE
                    -->
                    <li><a href="http://www.facebook.com/sharer/sharer.php?u=https://travel-pro.lu/en/articles/28-days-holiday-with-6-days-off.html&t=28 days holiday with 6 days off" target="_blank" class="share-popup" title="Partager sur facebook"><i class="icon-media_facebook" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.linkedin.com/shareArticle?mini=true&url=https://travel-pro.lu/en/articles/28-days-holiday-with-6-days-off.html" title="Partager sur linkedin"><i class="icon-media_linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="mailto:?subject=I wanted you to see this article&amp;body=Check out this article on Travel Pro Blog: https://travel-pro.lu/en/articles/28-days-holiday-with-6-days-off.html" title="Partager par email"><i class="icon-paper-plane" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </section>
              <div class="tp-categories-list">
                <p class="tp-paragraph tp-paragraph--16 color-neutral-700"><strong>Categories :</strong></p>
                <ul>
                  <li>#VacationHacks</li>
                  <li>#TravelSmart</li>
                  <li>#MaximizeYourLeave</li>
                </ul>
              </div>
            </article>
          </div>
          <div class="tp-flex__col tp-flex__col-md-4 pt-48 pt-md-64">
            <div class="tp-newsletter-box">
              <div class="tp-newsletter-box__header">
                <img src="<%= require('/public/assets/images/travelpro-newsletter.svg') %>" alt="">
                <p class="tp-heading tp-heading--h4"><strong>Subscribe to the Travel Pro Newsletter for exclusive updates!</strong></p>
              </div>
              <div class="tp-newsletter-box__content">
                <getresponse-form form-id="ad9db41b-a353-4019-a7ba-772acede3fcc" e="0"></getresponse-form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tp-section pt-0">
        <div class="tp-container">
          <h2 class="tp-heading tp-heading--h2 mb-24 mb-md-40">Read also...</h2>

          <div class="tp-flex row-gap-24" id="articles-list" data-lang="en" data-url="../../" data-limit="3"></div><!-- DELETE THIS PAGE AND MOVE TO MAIN FOLDER-->
        </div>
      </div>
    </main>
    <tp-footer-en></tp-footer-en>
  </body>
</html>
