$component: tp-advantage-card;

.#{$component} {
  padding: 3.2rem 5.6rem 3.2rem 3.2rem;
  border-radius: 2.4rem;
  background-color: var(--white);
  border: 0.1rem solid var(--primary-100);
  box-shadow: var(--elevation-2);
  display: flex;
  row-gap: 1.6rem;
  flex-direction: column;
  text-decoration: none;
  position: relative;
  width: 100%;
  transition: 0.3s;

  &__header {
    display: flex;
    align-items: center;
    column-gap: 1.6rem
  }

  &__arrow {
    font-size: 1.4rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.4rem;
    color: var(--neutral-700);
  }

  @media(hover: hover) {
    &:hover {
      background-color: var(--primary-50);
      box-shadow: var(--elevation-3);
    }
  }
}