$component: tp-advantage-card;

.#{$component} {
  padding: 3.2rem 5.6rem 3.2rem 3.2rem;
  border-radius: 2.4rem;
  background-color: var(--white);
  border: 0.1rem solid var(--primary-100);
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  row-gap: 1.6rem;
  flex-direction: column;
  text-decoration: none;
  position: relative;
  width: 100%;

  &__header {
    display: flex;
    align-items: center;
    column-gap: 1.6rem
  }

  &__arrow {
    font-size: 1.4rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.4rem;
    color: var(--neutral-700);
  }
}