$button-colors: (
  primary: (
    filled: (
      enable: (
        background-color: var(--button-color-primary-filled-enable-background-color),
        color: var(--button-color-primary-filled-enable-color),
        border-color: var(--button-color-primary-filled-enable-border-color)
      ),
      hover: (
        background-color: var(--button-color-primary-filled-hover-background-color),
        color: var(--button-color-primary-filled-hover-color),
        border-color: var(--button-color-primary-filled-hover-border-color)
      ),
      focus: (
        background-color: var(--button-color-primary-filled-focus-background-color),
        color: var(--button-color-primary-filled-focus-color),
        border-color: var(--button-color-primary-filled-focus-border-color)
      ),
      active: (
        background-color: var(--button-color-primary-filled-active-background-color),
        color: var(--button-color-primary-filled-active-color),
        border-color: var(--button-color-primary-filled-active-border-color)
      ),
      disabled: (
        background-color: var(--button-color-primary-filled-disabled-background-color),
        color: var(--button-color-primary-filled-disabled-color),
        border-color: var(--button-color-primary-filled-disabled-border-color)
      )
    ),
    outlined: (
      enable: (
        background-color: var(--button-color-primary-outlined-enable-background-color),
        color: var(--button-color-primary-outlined-enable-color),
        border-color: var(--button-color-primary-outlined-enable-border-color)
      ),
      hover: (
        background-color: var(--button-color-primary-outlined-hover-background-color),
        color: var(--button-color-primary-outlined-hover-color),
        border-color: var(--button-color-primary-outlined-hover-border-color)
      ),
      focus: (
        background-color: var(--button-color-primary-outlined-focus-background-color),
        color: var(--button-color-primary-outlined-focus-color),
        border-color: var(--button-color-primary-outlined-focus-border-color)
      ),
      active: (
        background-color: var(--button-color-primary-outlined-active-background-color),
        color: var(--button-color-primary-outlined-active-color),
        border-color: var(--button-color-primary-outlined-active-border-color)
      ),
      disabled: (
        background-color: var(--button-color-primary-outlined-disabled-background-color),
        color: var(--button-color-primary-outlined-disabled-color),
        border-color: var(--button-color-primary-outlined-disabled-border-color)
      )
    )
  ),
  primary-900: (
    filled: (
      enable: (
        background-color: var(--button-color-primary-900-filled-enable-background-color),
        color: var(--button-color-primary-900-filled-enable-color),
        border-color: var(--button-color-primary-900-filled-enable-border-color)
      ),
      hover: (
        background-color: var(--button-color-primary-900-filled-hover-background-color),
        color: var(--button-color-primary-900-filled-hover-color),
        border-color: var(--button-color-primary-900-filled-hover-border-color)
      ),
      focus: (
        background-color: var(--button-color-primary-900-filled-focus-background-color),
        color: var(--button-color-primary-900-filled-focus-color),
        border-color: var(--button-color-primary-900-filled-focus-border-color)
      ),
      active: (
        background-color: var(--button-color-primary-900-filled-active-background-color),
        color: var(--button-color-primary-900-filled-active-color),
        border-color: var(--button-color-primary-900-filled-active-border-color)
      ),
      disabled: (
        background-color: var(--button-color-primary-900-filled-disabled-background-color),
        color: var(--button-color-primary-900-filled-disabled-color),
        border-color: var(--button-color-primary-900-filled-disabled-border-color)
      )
    ),
    outlined: (
      enable: (
        background-color: var(--button-color-primary-900-outlined-enable-background-color),
        color: var(--button-color-primary-900-outlined-enable-color),
        border-color: var(--button-color-primary-900-outlined-enable-border-color)
      ),
      hover: (
        background-color: var(--button-color-primary-900-outlined-hover-background-color),
        color: var(--button-color-primary-900-outlined-hover-color),
        border-color: var(--button-color-primary-900-outlined-hover-border-color)
      ),
      focus: (
        background-color: var(--button-color-primary-900-outlined-focus-background-color),
        color: var(--button-color-primary-900-outlined-focus-color),
        border-color: var(--button-color-primary-900-outlined-focus-border-color)
      ),
      active: (
        background-color: var(--button-color-primary-900-outlined-active-background-color),
        color: var(--button-color-primary-900-outlined-active-color),
        border-color: var(--button-color-primary-900-outlined-active-border-color)
      ),
      disabled: (
        background-color: var(--button-color-primary-900-outlined-disabled-background-color),
        color: var(--button-color-primary-900-outlined-disabled-color),
        border-color: var(--button-color-primary-900-outlined-disabled-border-color)
      )
    )
  ),
  primary-950: (
    filled: (
      enable: (
        background-color: var(--button-color-primary-950-filled-enable-background-color),
        color: var(--button-color-primary-950-filled-enable-color),
        border-color: var(--button-color-primary-950-filled-enable-border-color)
      ),
      hover: (
        background-color: var(--button-color-primary-950-filled-hover-background-color),
        color: var(--button-color-primary-950-filled-hover-color),
        border-color: var(--button-color-primary-950-filled-hover-border-color)
      ),
      focus: (
        background-color: var(--button-color-primary-950-filled-focus-background-color),
        color: var(--button-color-primary-950-filled-focus-color),
        border-color: var(--button-color-primary-950-filled-focus-border-color)
      ),
      active: (
        background-color: var(--button-color-primary-950-filled-active-background-color),
        color: var(--button-color-primary-950-filled-active-color),
        border-color: var(--button-color-primary-950-filled-active-border-color)
      ),
      disabled: (
        background-color: var(--button-color-primary-950-filled-disabled-background-color),
        color: var(--button-color-primary-950-filled-disabled-color),
        border-color: var(--button-color-primary-950-filled-disabled-border-color)
      )
    ),
    outlined: (
      enable: (
        background-color: var(--button-color-primary-950-outlined-enable-background-color),
        color: var(--button-color-primary-950-outlined-enable-color),
        border-color: var(--button-color-primary-950-outlined-enable-border-color)
      ),
      hover: (
        background-color: var(--button-color-primary-950-outlined-hover-background-color),
        color: var(--button-color-primary-950-outlined-hover-color),
        border-color: var(--button-color-primary-950-outlined-hover-border-color)
      ),
      focus: (
        background-color: var(--button-color-primary-950-outlined-focus-background-color),
        color: var(--button-color-primary-950-outlined-focus-color),
        border-color: var(--button-color-primary-950-outlined-focus-border-color)
      ),
      active: (
        background-color: var(--button-color-primary-950-outlined-active-background-color),
        color: var(--button-color-primary-950-outlined-active-color),
        border-color: var(--button-color-primary-950-outlined-active-border-color)
      ),
      disabled: (
        background-color: var(--button-color-primary-950-outlined-disabled-background-color),
        color: var(--button-color-primary-950-outlined-disabled-color),
        border-color: var(--button-color-primary-950-outlined-disabled-border-color)
      )
    )
  )
);

$button-sizes: (
  default: (
    height: var(--button-size-default-size-height),
    border-radius: var(--button-size-default-border-radius),
    border-width: var(--button-size-default-border-width),
    font-size: var(--button-size-default-font-size),
    font-weight: var(--button-size-default-font-weight),
    padding-top: var(--button-size-default-spacing-padding-top),
    padding-right: var(--button-size-default-spacing-padding-right),
    padding-bottom: var(--button-size-default-spacing-padding-bottom),
    padding-left: var(--button-size-default-spacing-padding-left),
    gap: var(--button-size-default-spacing-gap)
  ),
  lg: (
    height: var(--button-size-lg-size-height),
    border-radius: var(--button-size-lg-border-radius),
    border-width: var(--button-size-lg-border-width),
    font-size: var(--button-size-lg-font-size),
    font-weight: var(--button-size-lg-font-weight),
    padding-top: var(--button-size-lg-spacing-padding-top),
    padding-right: var(--button-size-lg-spacing-padding-right),
    padding-bottom: var(--button-size-lg-spacing-padding-bottom),
    padding-left: var(--button-size-lg-spacing-padding-left),
    gap: var(--button-size-lg-spacing-gap)
  )
);


$component: tp-button;

.#{$component} {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-style: solid;

  // colors styles
  @each $key, $value in $button-colors {
    &.#{$component}--#{$key} {
      color: map-deep-get($value, 'filled', 'disabled', 'color');
      background-color: map-deep-get($value, 'filled', 'disabled', 'background-color');
      border-color: map-deep-get($value, 'filled', 'disabled', 'border-color');

      &:not(:disabled) {
        color: map-deep-get($value, 'filled', 'enable', 'color');
        background-color: map-deep-get($value, 'filled', 'enable', 'background-color');
        border-color: map-deep-get($value, 'filled', 'enable', 'border-color');

        @media(hover: hover) {
          &:hover {
            color: map-deep-get($value, 'filled', 'hover', 'color');
            background-color: map-deep-get($value, 'filled', 'hover', 'background-color');
            border-color: map-deep-get($value, 'filled', 'hover', 'border-color');
          }
  
          &:focus {
            color: map-deep-get($value, 'filled', 'focus', 'color');
            background-color: map-deep-get($value, 'filled', 'focus', 'background-color');
            border-color: map-deep-get($value, 'filled', 'focus', 'border-color');
          }
  
          &:active {
            color: map-deep-get($value, 'filled', 'active', 'color');
            background-color: map-deep-get($value, 'filled', 'active', 'background-color');
            border-color: map-deep-get($value, 'filled', 'active', 'border-color');
          }
        }

        &.#{$component}--outlined {
          color: map-deep-get($value, 'outlined', 'enable', 'color');
          background-color: map-deep-get($value, 'outlined', 'enable', 'background-color');
          border-color: map-deep-get($value, 'outlined', 'enable', 'border-color');
        }
      }
    }
  }

  // sizes styles
  @each $key, $value in $button-sizes {

    $component-name: #{$component}--#{$key};

    @if $key == 'default' {
      $component-name: #{$component};
    } @else {
      $component-name: #{$component}--#{$key};
    }


    &.#{$component-name} {
      font-size: map-deep-get($value, 'font-size');
      font-weight: map-deep-get($value, 'font-weight');
      height: map-deep-get($value, 'height');
      padding-right: map-deep-get($value, 'padding-right');
      padding-left: map-deep-get($value, 'padding-left');
      border-radius: map-deep-get($value, 'border-radius');
      border-width: map-deep-get($value, 'border-width');
      column-gap: map-deep-get($value, 'gap');

      &.#{$component}--icon-only {
        padding: 0;
        width: map-deep-get($value, 'height');
      }
    }

    
  }
}