$component: tp-flex;

.#{$component} {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.2rem;

  &-align-items {
    &-center {
      align-items: center;
    }

    &-start {
      align-items: flex-start;
    }
  }

  &-space-between {
    justify-content: space-between;
  }

  &-justify {
    &-center { justify-content: center;}
    &-space-between { justify-content: space-between; }
  }

  &-gutter {
    &-md {
      &-lg {
        @media(min-width: $md) {
          margin: 0 -6.4rem;

          .#{$component}__col {
            padding: 0 6.4rem;
          }
        }
      }
    }
  }

  &__col {
    padding: 0 1.2rem;
    flex: 0 0 100%;

    &-justify-end {
      display: flex;
      justify-content: flex-end;
    }

    &-12 { flex: 0 0 100%; }
    &-11 { flex: 0 0 91.6667%; }
    &-10 { flex: 0 0 83.33333333%; }
    &-9 { flex: 0 0 75%; }
    &-8 { flex: 0 0 66.6667%; }
    &-7 { flex: 0 0 58.33333333%; }
    &-6 { flex: 0 0 50%; }
    &-5 { flex: 0 0 41.6667%; }
    &-4 { flex: 0 0 33.3333%; }
    &-3 { flex: 0 0 25%; }
    &-2 { flex: 0 0 16.6667%; }
    &-1 { flex: 0 0 8.3333%; }



    &-sm {
      @media(min-width: $sm) {
        &-justify-end {
          display: flex;
          justify-content: flex-end;
        }

        &-12 { flex: 0 0 100%; }
        &-10 { flex: 0 0 83.33333333%; }
        &-9 { flex: 0 0 75%; }
        &-8 { flex: 0 0 66.6667%; }
        &-7 { flex: 0 0 58.33333333%; }
        &-6 { flex: 0 0 50%; }
        &-5 { flex: 0 0 41.6667%; }
        &-4 { flex: 0 0 33.3333%; }
        &-3 { flex: 0 0 25%; }
        &-2 { flex: 0 0 16.6667%; }
        &-1 { flex: 0 0 8.3333%; }
      }
    }

    &-md {
      @media(min-width: $md) {
        flex: auto;

        &-12 { flex: 0 0 100%; }
        &-10 { flex: 0 0 83.33333333%; }
        &-9 { flex: 0 0 75%; }
        &-8 { flex: 0 0 66.6667%; }
        &-7 { flex: 0 0 58.33333333%; }
        &-6 { flex: 0 0 50%; }
        &-5 { flex: 0 0 41.6667%; }
        &-4 { flex: 0 0 33.3333%; }
        &-3 { flex: 0 0 25%; }
        &-2 { flex: 0 0 16.6667%; }
        &-1 { flex: 0 0 8.3333%; }
      }
    }

    &-lg {
      @media(min-width: $lg) {
        flex: auto;

        &-12 { flex: 0 0 100%; }
        &-10 { flex: 0 0 83.33333333%; }
        &-9 { flex: 0 0 75%; }
        &-8 { flex: 0 0 66.6667%; }
        &-6 { flex: 0 0 50%; }
        &-5 { flex: 0 0 41.6667%; }
        &-4 { flex: 0 0 33.3333%; }
        &-3 { flex: 0 0 25%; }
        &-2 { flex: 0 0 16.6667%; }
        &-1 { flex: 0 0 8.3333%; }
      }
    }
  }
}


.row-gap {
  &-16 { row-gap: 1.6rem; }
  &-24 { row-gap: 2.4rem; }
  &-32 { row-gap: 3.2rem; }
  &-40 { row-gap: 4rem; }

  @media(min-width: $sm) {
    &-sm-32 { row-gap: 3.2rem; }
    &-sm-40 { row-gap: 4rem; }
  }
}



.gap-32 { gap: 3.2rem; }

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}