$component: tp-footer;

.#{$component} {
  background-color: var(--primary-900);
  padding: 4.8rem 0;

  &__row {
    padding-top: 4rem;
    margin-top: 4rem;
    border-top: 0.1rem solid var(--primary-800);
  }

  .tp-nav-langs {
    .tp-link {
      color: var(--white)
    }

    ul {
      .tp-link {
        color: var(--primary-900)
      }
    }
  }

  a, p {
    color: var(--white);
  }

  @media(min-width: $sm) {
    padding-top: 8.8rem;

    &__row {
      margin-top: 8rem;
      padding-top: 8rem;
    }
  }

}