$component: tp-heading;

.#{$component} {
  margin: 0;

  &--jumbotron {
    font-size: 3.2rem;
    font-family: var(--font-family-heading-bold);
    line-height: 1.3;

    @media(min-width: $sm) {
      font-size: 5.4rem;
    }
  }

  &--h2 {
    font-size: 2.8rem;
    font-family: var(--font-family-heading-bold);
    line-height: 1.3;
  }

  &--h4 {
    font-size: 1.6rem;
    font-family: var(--font-family-heading-regular);
    line-height: 1.5;
  }
}