.tp-illu-1 {
  position: relative;
  margin-bottom: 10rem;
  
  div {
    position: absolute;
    right: 0;
    max-width: 26.4rem;
    bottom: -10rem;
  }
}

.tp-illu-2 {
  display: block; 
  @media(min-width: $md) {
    position: absolute;
    bottom: 0;
  }
}