$component: tp-list-blog-infos;

.#{$component} {
  border-top: 0.1rem solid var(--primary-100);
  border-bottom: 0.1rem solid var(--primary-100);
  padding: 1.6rem 0;
  display: flex;
  column-gap: 1.6rem;

  li {
    display: inline-flex;
    align-items: center;
    color: var(--neutral-700);
    font-size: 1.4rem;
    column-gap: 0.8rem;
  }
}