@import 'variables';

@font-face {
  font-family: 'metropolis-regular';
  font-weight: 400;
  src: url('../assets/fonts/metropolis/Metropolis-Regular.otf');
}

@font-face {
  font-family: 'metropolis-semi-bold';
  font-weight: 600;
  src: url('../assets/fonts/metropolis/Metropolis-SemiBold.otf');
}

@font-face {
  font-family: 'metropolis-bold';
  font-weight: 700;
  src: url('../assets/fonts/metropolis/Metropolis-Bold.otf');
}

@font-face {
  font-family: 'futura-regular';
  font-weight: 400;
  src: url('../assets/fonts/futura/Futura-Regular.ttf');
}

@font-face {
  font-family: 'futura-bold';
  font-weight: 700;
  src: url('../assets/fonts/futura/Futura-Bold.otf');
}


@import 'functions/map-deep-get';
@import 'utils/spacings';
@import 'utils/colors';
@import 'utils/texts';
@import 'icons';
@import 'button';
@import 'header';
@import 'footer';
@import 'link';
@import 'nav';
@import 'flex';
@import 'paragraph';
@import 'heading';
@import 'highlight';
@import 'list';
@import 'illus';
@import 'badge';
@import 'testimonial-card';

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family-body-regular);
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}



ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tp-container {
  max-width: var(--container-width);
  margin-inline: auto;
  padding: 0 1.6rem;
}


.d-lg {
  display: none!important;

  @media(min-width: $lg) {
    display: block!important;
  }
}

.h-xs {
  @media(min-width: $xs) {
    display: none;
  }
}

.d-f-sm {
  display: none!important;

  @media(min-width: $sm) {
    display: flex!important;
  }
}

.d-f-lg {
  display: none!important;

  @media(min-width: $lg) {
    display: flex!important;
  }
}

.d-sm {
  display: none!important;

  @media(min-width: $sm) {
    display: block!important;
  }
}

.h-lg {
  @media(min-width: $lg) {
    display: none!important;
  }
}

.br-16 { border-radius: 1.6rem; }

.tp-main {
  margin-top: calc(7.2rem + 4.8rem);

  @media(min-width: $sm) {
    margin-top: calc(7.2rem + 10rem)
  }

  @media(min-width: $lg) {
    margin-top: calc(22.8rem + 10rem)
  }
}



.tp-card-service-name {
  border-radius: 2.4rem;
  padding: 3.2rem;
  position: relative;

  &__button {
    position: absolute;
    left: 0;
    top: 5rem;
    transform: translateX(-50%)
  }

  @media(min-width: $sm) {
    padding: 4rem 5.6rem;
  }
}


.tp-slider-overflow-container {
  overflow: hidden;
  padding-left: 1.6rem;

  &__inner {
    -webkit-mask: linear-gradient(to left, transparent 97px, #000 123px);
    -webkit-mask-position-x: 0;
    -webkit-mask-size: 122% 100%;
  }

  .tp-slider-container {
    max-width: var(--container-width);
    overflow: hidden;
  }

  @media(min-width: 113rem) {
    padding-left: calc(((100vw - var(--container-width))/ 2) + 0.8rem);
  }

  @media(min-width: $lg) {
    &__content {
      position: absolute;
      max-width: 36rem;
    }

    &__inner {
      -webkit-mask: linear-gradient(to right, transparent 97px, #000 123px);
      -webkit-mask-position-x: 266px;
      -webkit-mask-size: 150% 100%;
      padding-left: 38.4rem;
    }
  }
}

.swiper-pagination {
  display: flex;
  column-gap: 0.8rem;
}

.swiper-pagination-bullet {
  border-radius: 1.6rem;
  height: 0.8rem;
  width: 3.2rem;
  border: 0.1rem solid var(--primary-900);
  cursor: pointer;

  &-active {
    background-color: var(--primary-900);
  }
}

.swiper-navigation {
  display: flex;
  column-gap: 1.6rem;
}

.swiper-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.6rem;
  max-width: var(--container-width);
  padding-right: 1.6rem;

  @media(min-width: $lg) {
    margin-top: 3.2rem;
    padding-left: 39rem;
  }
}

