@import 'variables';

@font-face {
  font-family: 'metropolis-regular';
  font-weight: 400;
  src: url('/public/assets/fonts/metropolis/Metropolis-Regular.otf');
  font-display: swap;
}

@font-face {
  font-family: 'metropolis-semi-bold';
  font-weight: 600;
  src: url('/public/assets/fonts/metropolis/Metropolis-SemiBold.otf');
  font-display: swap;
}

@font-face {
  font-family: 'metropolis-bold';
  font-weight: 700;
  src: url('/public/assets/fonts/metropolis/Metropolis-Bold.otf');
  font-display: swap;
}

@font-face {
  font-family: 'futura-regular';
  font-weight: 400;
  src: url('/public/assets/fonts/futura/Futura-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'futura-medium';
  font-weight: 500;
  src: url('/public/assets/fonts/futura/Futura-Medium.otf');
  font-display: swap;
}

@font-face {
  font-family: 'futura-bold';
  font-weight: 700;
  src: url('/public/assets/fonts/futura/Futura-Bold.otf');
  font-display: swap;
}


@import 'functions/map-deep-get';
@import 'utils/spacings';
@import 'utils/colors';
@import 'utils/texts';
@import 'icons';
@import 'button';
@import 'header';
@import 'footer';
@import 'link';
@import 'nav';
@import 'flex';
@import 'paragraph';
@import 'heading';
@import 'highlight';
@import 'list';
@import 'illus';
@import 'badge';
@import 'testimonial-card';
@import 'swiper';
@import 'tabs';
@import 'expand';
@import 'expand-2';
@import 'team-card';
@import 'automatic-carousel';
@import 'advantage-card';
@import 'newsletter';
@import 'article-card';

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family-body-regular);
  font-size: 62.5%;
  line-height: 1.5;
  scroll-behavior: smooth;
  scroll-padding-top: 4.8rem;
  
  @media(min-width: $md) {
    scroll-padding-top: 8rem;
  }
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

button {
  -webkit-appearance: none;
  border: 0;
  background: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

select {
  width: 100%;
  height: 4rem;
  border-radius: 0.8rem;
}

.tp-container {
  max-width: var(--container-width);
  margin-inline: auto;
  padding: 0 1.6rem;
}


.d-lg {
  display: none!important;

  @media(min-width: $lg) {
    display: block!important;
  }
}

.h-xs {
  @media(min-width: $xs) {
    display: none;
  }
}

.d-f-sm {
  display: none!important;

  @media(min-width: $sm) {
    display: flex!important;
  }
}

.d-f-lg {
  display: none!important;

  @media(min-width: $lg) {
    display: flex!important;
  }
}

.d-sm {
  display: none!important;

  @media(min-width: $sm) {
    display: block!important;
  }
}

.h-sm {
  @media(min-width: $sm) {
    display: none!important;
  }
}


.h-lg {
  @media(min-width: $lg) {
    display: none!important;
  }
}

.br-16 { border-radius: 1.6rem; }
.br-24 { border-radius: 2.4rem; }

.tp-main {
  margin-top: 7.2rem;

  @media(min-width: $lg) {
    margin-top: 22.8rem;
  }
}



.tp-card-service-name {
  border-radius: 2.4rem;
  padding: 3.2rem;
  position: relative;

  &__button {
    position: absolute;
    left: 0;
    top: 5rem;
    transform: translateX(-50%);
    pointer-events: none;
  }

  @media(min-width: $sm) {
    padding: 4rem 5.6rem;
  }
}

.tp-section {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
  background-size: cover;
  position: relative;

  @media(min-width: $md) {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}


.tp-buttons-row {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  flex-direction: column;

  @media(min-width: $sm) {
    gap: 3.2rem;
    flex-direction: row;
  }
}


.tp-number {
  display: flex;
  align-items: center;
  column-gap: 1.6rem;

  &__number {
    height: 4.8rem;
    width: 4.8rem;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.5;
    background-color: var(--primary-800);
    border-radius: 10rem;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.3rem; // fake vertical center
  }
}

.font-size-16 { font-size: 1.6rem; }
.font-size-26 { font-size: 2.6rem; }

.tp-iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  border-radius: 2.4rem;


  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

address {
  font-style: normal;
}


.tp-section-full {
  position: relative;
  padding-top: 6.4rem;
  
  &__left {
    padding: 0 1.6rem 6.4rem;
  }

  @media(min-width: $md) {
    &__left {
      width: 50%;
      padding: 8rem 8rem 8rem 1.6rem;
    }
  
    &__right {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 50%;
      background-size: cover;
      padding-right: calc(((100vw - var(--container-width)) / 2) + 1.6rem);
    }
  }

  @media(min-width: 1130px) {
    &__left {
      padding: 8rem 8rem 8rem calc(((100vw - var(--container-width)) / 2) + 1.6rem);
    }
  }
}

.tp-skiplink {
  display: inline-block;
  color: #555;
  background: #fff;
  padding: 0.5em;
  position: absolute;
  left: -99999rem;
  z-index: 100;
  top: 0;

  &:focus {
    left: 0;
  }
}