@import 'variables';

@font-face {
  font-family: 'metropolis-regular';
  font-weight: 400;
  src: url('../assets/fonts/metropolis/Metropolis-Regular.otf');
}

@font-face {
  font-family: 'metropolis-semi-bold';
  font-weight: 600;
  src: url('../assets/fonts/metropolis/Metropolis-SemiBold.otf');
}


@import 'functions/map-deep-get';
@import 'icons';
@import 'button';
@import 'header';
@import 'footer';
@import 'link';
@import 'nav';
@import 'flex';
@import 'paragraph';
@import 'utils/spacings';

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family-body-regular);
  font-size: 62.5%;
}

body {
  margin: 0;
}

.tp-container {
  max-width: 113rem;
  margin-inline: auto;
  padding: 0 1.6rem;
}


.d-lg {
  display: none!important;

  @media(min-width: $lg) {
    display: block!important;
  }
}

.h-xs {
  @media(min-width: $xs) {
    display: none;
  }
}

.d-f-sm {
  display: none!important;

  @media(min-width: $sm) {
    display: flex!important;
  }
}

.d-f-lg {
  display: none!important;

  @media(min-width: $lg) {
    display: flex!important;
  }
}



.d-sm {
  display: none!important;

  @media(min-width: $sm) {
    display: block!important;
  }
}



.h-lg {
  @media(min-width: $lg) {
    display: none!important;
  }
}


.content {
  padding-top: 32rem;
}