$component: tp-nav;

.#{$component} {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    .#{$component}__item {
      display: flex;
      height: 7.2rem;

      &--selected {
        background-color: var(--primary-10);

        a {
          font-weight: 600;

          &:after {
            opacity: 1;
          }
        }
      }
    }

    a {
      text-decoration: none;
      font-size: 1.6rem;
      color: var(--grey-950);
      display: flex;
      align-items: center;
      position: relative;
      padding-left: 3.2rem;

      &:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        top: 0;
        width: 0.6rem;
        border-radius: 0 0.6rem 0.6rem 0;
        background-color: var(--secondary-300);
        opacity: 0;
        transition: 0.3s;
      }
    }
  }

  @media(min-width: $lg) {
    height: 100%;

    ul {
      height: 100%;
  
      .#{$component}__item {
        display: inline-flex;
        margin-right: 2.4rem;
        height: 100%;
        padding: 0;
  
        &:hover {
          a {
            &:after {
              opacity: 1;
            }
          }
        }
  
        &--selected {
          a {
            font-weight: 600;
  
            &:after {
              opacity: 1;
            }
          }
        }
      }
  
      a {
        height: 100%;
        position: relative;
        padding-left: 0;
  
        &:after {
          position: absolute;
          content: "";
          left: 0;
          top: auto;
          width: 100%;
          bottom: 0;
          right: 0;
          height: 0.6rem;
          border-radius: 0.6rem 0.6rem 0 0;
          background-color: var(--secondary-300);
          opacity: 0;
          transition: 0.3s;
        }
      }
    }
  
  }
}

.tp-nav-social {
  ul {
    display: flex;
    column-gap: 1.6rem;
  }
  li {
    display: inline-flex;
  }
}


.tp-nav-footer {
  ul {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
  }
}

.tp-nav-langs {
  > li {
    position: relative;

    @media(hover: hover) {
      &:hover, &:focus-within {
        ul {
          opacity: 1;
          visibility: visible;
          transform: translateY(0px);
        }
      }
    }
  }

  ul {
    position: absolute;
    z-index: 2;
    top: 100%;
    right: -1.4rem;
    border-radius: 0.8rem;
    border: 0.1rem solid var(--primary-100);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--white);
    visibility: hidden;
    opacity: 0;
    transition: .2s;
    transform: translateY(-10px);
    overflow: hidden;

    li {
      a {
        display: block;
        padding: 0.4rem 1.2rem;
        outline: 0;

        @media(hover: hover) {
          &:hover, &:focus {
            background-color: var(--primary-300)
          }
        }
      }
    }
  }
}