<!DOCTYPE html>
<html lang="de">
  <head>
    <meta name="Viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://travel-pro.lu/" />
    <meta property="og:title" content="Seite Nicht Gefunden - Travel Pro" />
    <meta property="og:description" content="Hoppla! Die gesuchte Seite kann nicht gefunden werden. Navigieren Sie zurück zur Startseite von Travel Pro oder verwenden Sie unser Menü, um die richtigen Geschäftsreiselösungen für Sie zu finden." />
    <meta property="og:image" content="https://travel-pro.lu/travelpro-meta-image.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://travel-pro.lu/" />
    <meta property="twitter:title" content="Seite Nicht Gefunden - Travel Pro" />
    <meta property="twitter:description" content="Hoppla! Die gesuchte Seite kann nicht gefunden werden. Navigieren Sie zurück zur Startseite von Travel Pro oder verwenden Sie unser Menü, um die richtigen Geschäftsreiselösungen für Sie zu finden." />
    <meta property="twitter:image" content="https://travel-pro.lu/travelpro-meta-image.png" />

    <link rel="apple-touch-icon" sizes="180x180" href="<%= require('/public/assets/favicon/apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= require('/public/assets/favicon/favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= require('/public/assets/favicon/favicon-16x16.png') %>">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!--Knewledge START-->
    <script data-cookieconsent="ignore">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('consent', 'default', {
          ad_personalization: 'denied',
          ad_storage: 'denied',
          ad_user_data: 'denied',
          analytics_storage: 'denied',
          functionality_storage: 'denied',
          personalization_storage: 'denied',
          security_storage: 'granted',
          wait_for_update: 500,
      });
    </script>
  
    <script data-cookieconsent="ignore">(function(w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
          'gtm.start': new Date().getTime(),
          event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NTB3J5D');</script>
  
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="0b502577-0cf0-4d39-b511-8d9c5d2e1b2b" data-consentmode-defaults="disabled" async></script>
  
    <script data-cookieconsent="statistics">(function (m, o, n, t, e, r, _) {
      m['__GetResponseAnalyticsObject'] = e; m[e] = m[e] || function () { (m[e].q = m[e].q || []).push(arguments) };
      r = o.createElement(n); _ = o.getElementsByTagName(n)[0]; r.async = 1; r.src = t; r.setAttribute('crossorigin', 'use-credentials'); _.parentNode.insertBefore(r, _);
    })(window, document, 'script', 'https://newsletter.slg.lu/script/04309704-bfba-4e18-97d8-c7fc88928bfc/ga.js', 'GrTracking');</script>
  <!--Knewledge END-->
  </head>
  <body>
  <!-- Google Tag Manager (noscript) --> 
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTB3J5D" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> 
  <!-- End Google Tag Manager (noscript) -->

  
    <a class="tp-skiplink" href="#content">Go to content</a>
    
    <tp-header-de></tp-header-de>

    <main class="tp-main">
      <div class="tp-section tp-container">
        <div class="tp-flex tp-flex-justify-center">
          <div class="tp-flex__col tp-flex__col-md-4 mb-40">
            <h1 class="tp-heading tp-heading--h1 mb-16">404</h1>
            <p class="tp-paragraph tp-paragraph--16 mb-16 mb-md-40">Sorry, it looks like this page can’t be found...</p>
            <a href="index.html" class="tp-button tp-button--primary-900 tp-button--outlined">Back to homepage <i class="icon-arrow-right-long" aria-hidden="true"></i></a>
          </div>
          <div class="tp-flex__col tp-flex__col-md-4">
            <img src="<%= require('/public/assets/images/illustrations/travelpro-illustration-6.svg') %>" alt="illustration 404">
          </div>
        </div>
      </div>
    </main>
    <tp-footer-de></tp-footer-de>
  </body>
</html>
