<!DOCTYPE html>
<html lang="de">
  <head>
    <meta name="Viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://travel-pro.lu/" />
    <meta property="og:title" content="Über Travel Pro: Führende Geschäftsreiseagentur in Luxemburg Seit 1993" />
    <meta property="og:description" content="Erfahren Sie mehr über Travel Pro, gegründet 1993 und jetzt die größte Geschäftsreiseagentur in Luxemburg. Expertise in der Bereitstellung erstklassiger Reisedienstleistungen und -lösungen für Unternehmen. Entdecken Sie unsere Geschichte und Werte." />
    <meta property="og:image" content="https://travel-pro.lu/travelpro-meta-image.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://travel-pro.lu/" />
    <meta property="twitter:title" content="Über Travel Pro: Führende Geschäftsreiseagentur in Luxemburg Seit 1993" />
    <meta property="twitter:description" content="Erfahren Sie mehr über Travel Pro, gegründet 1993 und jetzt die größte Geschäftsreiseagentur in Luxemburg. Expertise in der Bereitstellung erstklassiger Reisedienstleistungen und -lösungen für Unternehmen. Entdecken Sie unsere Geschichte und Werte." />
    <meta property="twitter:image" content="https://travel-pro.lu/travelpro-meta-image.png" />

    <link rel="apple-touch-icon" sizes="180x180" href="<%= require('/public/assets/favicon/apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= require('/public/assets/favicon/favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= require('/public/assets/favicon/favicon-16x16.png') %>">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- GetResponse Analytics -->
    <script type="text/javascript">
      (function(m, o, n, t, e, r, _){
              m['__GetResponseAnalyticsObject'] = e;m[e] = m[e] || function() {(m[e].q = m[e].q || []).push(arguments)};
              r = o.createElement(n);_ = o.getElementsByTagName(n)[0];r.async = 1;r.src = t;r.setAttribute('crossorigin', 'use-credentials');_.parentNode .insertBefore(r, _);
          })(window, document, 'script', 'https://newsletter.slg.lu/script/04309704-bfba-4e18-97d8-c7fc88928bfc/ga.js', 'GrTracking');
    
    
      </script>
    <!-- End GetResponse Analytics -->

    <!-- Cookiebot -->
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="0b502577-0cf0-4d39-b511-8d9c5d2e1b2b" type="text/javascript" async></script>
    <!-- END Cookiebot -->

    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NTB3J5D');
    </script> 
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) --> 
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTB3J5D" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> 
    <!-- End Google Tag Manager (noscript) -->
    <a class="tp-skiplink" href="#content">Go to content</a>
    
    <tp-header-de active="about-us"></tp-header-de>

    <main class="tp-main">
      <div class="tp-section" style="background-image: url('<%= require('/public/assets/images/travelpro-background-6.webp') %>')">
        <div class="tp-container">
          <div class="tp-flex mb-32 mb-md-56">
            <div class="tp-flex__col tp-flex__col-md-7">
              <h1 class="tp-heading tp-heading--h1 mb-32 mb-md-40">Wer wir sind</h1>
              <p class="tp-heading tp-heading--h3">Travel Pro ist das größte Reisemanagement-Unternehmen in Luxemburg</p>
            </div>
          </div>
          <div class="tp-flex row-gap-32">
            <div class="tp-flex__col tp-flex__col-6 tp-flex__col-sm-3 weight-600">
              <img src="<%= require('/public/assets/images/travelpro-rocket.svg') %>" alt="" class="mb-8">
              <p class="tp-paragraph tp-paragraph--16">Spezialisiert auf Geschäftsreisen seit 1993</p>
            </div>
            <div class="tp-flex__col tp-flex__col-6 tp-flex__col-sm-3 weight-600">
              <img src="<%= require('/public/assets/images/travelpro-earth.svg') %>" alt="" class="mb-8">
              <p class="tp-paragraph tp-paragraph--16">Betreuung von über 450 lokalen und internationalen Unternehmen</p>
            </div>
            <div class="tp-flex__col tp-flex__col-6 tp-flex__col-sm-3 weight-600">
              <img src="<%= require('/public/assets/images/travelpro-prize.svg') %>" alt="" class="mb-8">
              <p class="tp-paragraph tp-paragraph--16">Erfahrene Reiseberater</p>
            </div>
            <div class="tp-flex__col tp-flex__col-6 tp-flex__col-sm-3 weight-600">
              <img src="<%= require('/public/assets/images/travelpro-dialog.svg') %>" alt="" class="mb-8">
              <p class="tp-paragraph tp-paragraph--16">Mehrsprachiges Team : EN, LU, FR, DE, IT, PT</p>
            </div>
          </div>
        </div>
      </div>

      <div class="tp-section">
        <div class="tp-container">
          <h2 class="tp-heading tp-heading--h2 mb-32">Unser Vorteil </h2>
          <div class="tp-flex row-gap-32">
            <div class="tp-flex__col tp-flex__col-sm-6 d-flex">
              <div class="pa-32 bg-primary-50 br-16">
                <img src="<%= require('/public/assets/images/logos/travelpro-logo-header.svg') %>" alt="" class="mb-32">
                <p class="tp-paragraph tp-paragraph--16 weight-600 mb-32">Travel Pro ist seit 2014 stolzes Mitglied des Reisepartnernetzwerks von American Express Global Business Travel.</p>
                <a href="business-travel.html" class="tp-link">Mehr Informationen <i class="icon-arrow-up-right-from-square" aria-hidden="true"></i></a>
              </div>
            </div>
            <div class="tp-flex__col tp-flex__col-sm-6">
              <div class="pa-32 bg-primary-50 br-16">
                <img src="<%= require('/public/assets/images/travelpro-part-of-slg-2.svg') %>" alt="" class="mb-32">
                <p class="tp-paragraph tp-paragraph--16 weight-600 mb-32">Travel Pro ist Teil der 1948 gegründeten familiengeführten SLG-Gruppe. Die Gruppe ist einer der Marktführer in den Bereichen Mobilität und Reisen in Luxemburg und der Großregion.</p>
                <a href="https://www.slg.lu/de/" target="_blank" class="tp-link">Mehr Informationen <i class="icon-arrow-up-right-from-square" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tp-section">
        <div class="tp-container">
          <h2 class="tp-heading tp-heading--h2 mb-32 text-center">Unsere Werte</h2>
          <div class="tp-flex justify-content-center">
            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-sm-8">
              <p class="tp-heading tp-heading--h3 text-center weight-500">
                Die Unternehmenswerte von Travel Pro stützen sich auf die Werte unserer Muttergesellschaft SLG. Sie bilden die Grundlage unseres Handelns und verkörpern, was uns wichtig ist und was uns bei allem, was wir tun, antreibt.
              </p>
            </div>
          </div>

          <div class="tp-flex mt-40 row-gap-sm-40">
            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-sm-4">
              <div class="tp-expand-2">
                <div class="tp-expand-2__trigger" aria-expanded="false"> 
                  <i class="icon-circle-check color-primary-700 font-size-26" aria-hidden="true"></i>
                  <h3 class="tp-heading tp-heading--h3">Mitarbeiter</h3>
                  <i class="icon-chevron-down color-neutral-700 tp-expand-2__arrow" aria-hidden="true"></i>
                </div>
                <div class="tp-expand-2__content">
                  <div class="tp-expand-2__spacer">&nbsp;</div>
                  <p class="tp-paragraph tp-paragraph--16">Wir unterstützen unsere Mitarbeiter, indem wir für absolute Gleichberechtigung eintreten. Wir lehnen jede Form der Diskriminierung aufgrund von Geschlecht, Herkunft, Religion, Alter oder sexueller Orientierung ab.</p>
                </div>
              </div>
            </div>
            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-sm-4">
              <div class="tp-expand-2">
                <div class="tp-expand-2__trigger" aria-expanded="false"> 
                  <i class="icon-circle-check color-primary-700 font-size-26" aria-hidden="true"></i>
                  <h3 class="tp-heading tp-heading--h3">Engagement für Datenschutz und Compliance</h3>
                  <i class="icon-chevron-down color-neutral-700 tp-expand-2__arrow" aria-hidden="true"></i>
                </div>
                <div class="tp-expand-2__content">
                  <div class="tp-expand-2__spacer">&nbsp;</div>
                  <p class="tp-paragraph tp-paragraph--16">
                    Transparenz, Datensicherheit, Persönlichkeitsrechte, Vorratsdatenspeicherung, Schulung und Sensibilisierung zu diesen Themen sowie eine enge Zusammenarbeit mit den Behörden sind für uns von großer Bedeutung.
                  </p>
                </div>
              </div>
            </div>
            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-sm-4">
              <div class="tp-expand-2">
                <div class="tp-expand-2__trigger" aria-expanded="false"> 
                  <i class="icon-circle-check color-primary-700 font-size-26" aria-hidden="true"></i>
                  <h3 class="tp-heading tp-heading--h3">Gesundheit und Sicherheit</h3>
                  <i class="icon-chevron-down color-neutral-700 tp-expand-2__arrow" aria-hidden="true"></i>
                </div>
                <div class="tp-expand-2__content">
                  <div class="tp-expand-2__spacer">&nbsp;</div>
                  <p class="tp-paragraph tp-paragraph--16">
                    Die Gesundheit unserer Mitarbeiter und die Sicherheit unserer Kunden haben für uns stets oberste Priorität.
                  </p>
                </div>
              </div>
            </div>

            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-sm-4">
              <div class="tp-expand-2">
                <div class="tp-expand-2__trigger" aria-expanded="false"> 
                  <i class="icon-circle-check color-primary-700 font-size-26" aria-hidden="true"></i>
                  <h3 class="tp-heading tp-heading--h3">Innovation</h3>
                  <i class="icon-chevron-down color-neutral-700 tp-expand-2__arrow" aria-hidden="true"></i>
                </div>
                <div class="tp-expand-2__content">
                  <div class="tp-expand-2__spacer">&nbsp;</div>
                  <p class="tp-paragraph tp-paragraph--16">Unser Ziel ist es, Reisebuchungen und Reisen für unsere Kunden einfacher zu machen. Wir sind stets bestrebt, innovative Lösungen und Dienstleistungen anzubieten und versuchen, in unserer Branche technologisch an der Spitze zu stehen.</p>
                </div>
              </div>
            </div>
            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-sm-4">
              <div class="tp-expand-2">
                <div class="tp-expand-2__trigger" aria-expanded="false"> 
                  <i class="icon-circle-check color-primary-700 font-size-26" aria-hidden="true"></i>
                  <h3 class="tp-heading tp-heading--h3">Partnerschaft mit Lieferanten</h3>
                  <i class="icon-chevron-down color-neutral-700 tp-expand-2__arrow" aria-hidden="true"></i>
                </div>
                <div class="tp-expand-2__content">
                  <div class="tp-expand-2__spacer">&nbsp;</div>
                  <p class="tp-paragraph tp-paragraph--16">
                    Travel Pro betrachtet seine Lieferanten als wichtige Verbündete. Wir wählen sie nach Qualitätskriterien aus und geben jenen den Vorzug, die eine ähnliche Unternehmenskultur wie wir haben.
                  </p>
                </div>
              </div>
            </div>
            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-sm-4">
              <div class="tp-expand-2">
                <div class="tp-expand-2__trigger" aria-expanded="false"> 
                  <i class="icon-circle-check color-primary-700 font-size-26" aria-hidden="true"></i>
                  <h3 class="tp-heading tp-heading--h3">Unser Ansatz für den Wettbewerb</h3>
                  <i class="icon-chevron-down color-neutral-700 tp-expand-2__arrow" aria-hidden="true"></i>
                </div>
                <div class="tp-expand-2__content">
                  <div class="tp-expand-2__spacer">&nbsp;</div>
                  <p class="tp-paragraph tp-paragraph--16">
                    Wir respektieren das Eigentum unserer Marktteilnehmer und lehnen jede illegale Aneignung von Geschäftsinformationen sowie alle fragwürdigen Handlungen zum Zwecke des Wettbewerbsvorteils ab.
                  </p>
                </div>
              </div>
            </div>

            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-sm-4">
              <div class="tp-expand-2">
                <div class="tp-expand-2__trigger" aria-expanded="false"> 
                  <i class="icon-circle-check color-primary-700 font-size-26" aria-hidden="true"></i>
                  <h3 class="tp-heading tp-heading--h3">Verantwortung für die Umwelt</h3>
                  <i class="icon-chevron-down color-neutral-700 tp-expand-2__arrow" aria-hidden="true"></i>
                </div>
                <div class="tp-expand-2__content">
                  <div class="tp-expand-2__spacer">&nbsp;</div>
                  <p class="tp-paragraph tp-paragraph--16">Bei Travel Pro legen wir großen Wert darauf, unseren ökologischen Fußabdruck so weit wie möglich zu reduzieren. Wir räumen der Nachhaltigkeit in all unseren Geschäftsprozessen Priorität ein und bemühen uns um Partnerschaften mit gleichgesinnten Unternehmen, die unsere Ideale teilen. Gemeinsam können wir uns für eine umweltfreundlichere Reisebranche einsetzen. </p>
                </div>
              </div>
            </div>
            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-sm-4">
              <div class="tp-expand-2">
                <div class="tp-expand-2__trigger" aria-expanded="false"> 
                  <i class="icon-circle-check color-primary-700 font-size-26" aria-hidden="true"></i>
                  <h3 class="tp-heading tp-heading--h3">Soziales Engagement</h3>
                  <i class="icon-chevron-down color-neutral-700 tp-expand-2__arrow" aria-hidden="true"></i>
                </div>
                <div class="tp-expand-2__content">
                  <div class="tp-expand-2__spacer">&nbsp;</div>
                  <p class="tp-paragraph tp-paragraph--16">
                    Als Arbeitgeber, der sich der sozialen Verantwortung verschrieben hat, sind wir uns unserer Verantwortung für die Integration und Sicherung von Arbeitsplätzen innerhalb unseres Unternehmens bewusst. Darüber hinaus setzen wir uns aktiv für einen verantwortungsvollen, nachhaltigen und respektvollen Tourismus ein.
                  </p>
                </div>
              </div>
            </div>
            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-sm-4">
              <div class="tp-expand-2">
                <div class="tp-expand-2__trigger" aria-expanded="false"> 
                  <i class="icon-circle-check color-primary-700 font-size-26" aria-hidden="true"></i>
                  <h3 class="tp-heading tp-heading--h3">Unternehmensführung</h3>
                  <i class="icon-chevron-down color-neutral-700 tp-expand-2__arrow" aria-hidden="true"></i>
                </div>
                <div class="tp-expand-2__content">
                  <div class="tp-expand-2__spacer">&nbsp;</div>
                  <p class="tp-paragraph tp-paragraph--16">
                    Wir sind Teil einer vertrauenswürdigen Unternehmensgruppe, die Wert auf ein stabiles, langfristiges Management legt. Das Handeln des Managements basiert auf Professionalität, Reaktionsfähigkeit und Effizienz. Das Ziel von SLG ist es, innovative Lösungen zu finden, die das Leben der Kunden einfacher machen, und wir bei Travel Pro streben dasselbe an.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- team -->
      <div class="tp-section pb-0" style="background-image: url('<%= require('/public/assets/images/travelpro-background-7.webp') %>');">
        <div class="tp-slider-overflow-container">
          <div class="tp-slider-overflow-container__content">
            <h2 class="tp-heading tp-heading--h2 mb-md-24 mb-16">Unser Team</h2>
            <p class="tp-paragraph tp-paragraph--16 mb-24">Travel Pro wird von einem in Luxemburg ansässigen Managementteam geleitet, das unseren zukunftsorientierten Zielen fest verpflichtet ist. </p>
          </div>

          <div class="tp-slider-overflow-container__inner">
            <div class="tp-slider-container">
              <div class="tp-swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <!-- Slides -->
                  <div class="swiper-slide">
                    <div class="tp-team-card">
                      <div class="tp-team-card__visual"><img src="<%= require('/public/assets/images/team/gianni-pietrangelo.webp') %>" alt="Gianni Pietrangelo"></div>
                      <div class="tp-team-card__content">
                        <p class="tp-heading tp-heading--h4"><strong>Gianni Pietrangelo</strong></p>
                        <p class="tp-paragraph tp-paragraph--16">CEO</p>
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="tp-team-card">
                      <div class="tp-team-card__visual"><img src="<%= require('/public/assets/images/team/joelle-weber.webp') %>" alt="Joelle Weber"></div>
                      <div class="tp-team-card__content">
                        <p class="tp-heading tp-heading--h4"><strong>Joëlle Weber</strong></p>
                        <p class="tp-paragraph tp-paragraph--16">COO</p>
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="tp-team-card">
                      <div class="tp-team-card__visual"><img src="<%= require('/public/assets/images/team/mirko-persuric.webp') %>" alt="Mirko Persuric"></div>
                      <div class="tp-team-card__content">
                        <p class="tp-heading tp-heading--h4"><strong>Mirko Persuric</strong></p>
                        <p class="tp-paragraph tp-paragraph--16">Leiter des Vertriebs</p>
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="tp-team-card">
                      <div class="tp-team-card__visual"><img src="<%= require('/public/assets/images/team/tamara-gadzimski.webp') %>" alt="Tamara Gadzimski"></div>
                      <div class="tp-team-card__content">
                        <p class="tp-heading tp-heading--h4"><strong>Tamara Gadzimski</strong></p>
                        <p class="tp-paragraph tp-paragraph--16">Lean-Manager</p>
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="tp-team-card">
                      <div class="tp-team-card__visual"><img src="<%= require('/public/assets/images/team/markus-meyers.webp') %>" alt="Markus Meyers"></div>
                      <div class="tp-team-card__content">
                        <p class="tp-heading tp-heading--h4"><strong>Markus Meyers</strong></p>
                        <p class="tp-paragraph tp-paragraph--16">Leiter der Abteilung Account Management</p>
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="tp-team-card">
                      <div class="tp-team-card__visual"><img src="<%= require('/public/assets/images/team/alexandra-clemens.webp') %>" alt="Alexandra Clemens"></div>
                      <div class="tp-team-card__content">
                        <p class="tp-heading tp-heading--h4"><strong>Alexandra Clemens</strong></p>
                        <p class="tp-paragraph tp-paragraph--16">Lifestyle Manager</p>
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="tp-team-card">
                      <div class="tp-team-card__visual"><img src="<%= require('/public/assets/images/team/grete-saksakulm.webp') %>" alt="Grete Saksakulm"></div>
                      <div class="tp-team-card__content">
                        <p class="tp-heading tp-heading--h4"><strong>Grete Saksakulm</strong></p>
                        <p class="tp-paragraph tp-paragraph--16">Persönliche Assistentin</p>
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="tp-team-card">
                      <div class="tp-team-card__visual"><img src="<%= require('/public/assets/images/team/sonia-el-hassouni.webp') %>" alt="Sonia El Hassouni"></div>
                      <div class="tp-team-card__content">
                        <p class="tp-heading tp-heading--h4"><strong>Sonia El Hassouni</strong></p>
                        <p class="tp-paragraph tp-paragraph--16">M.I.C.E. Manager</p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tp-container">
          <div class="swiper-actions">
            <div class="swiper-pagination"></div>

            <div class="swiper-navigation">
              <button class="tp-button tp-button--primary-900 tp-button--outlined tp-button--icon-only swiper-button-prev" aria-label="Previous slide"><i class="icon-arrow-left-long" aria-hidden="true"></i></button>
              <button class="tp-button tp-button--primary-900 tp-button--outlined tp-button--icon-only swiper-button-next" aria-label="Next slide"><i class="icon-arrow-right-long" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>

        <div class="tp-container mt-56 mt-sm-24">
          <div class="tp-flex align-items-center">
            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-sm-7">
              <p class="tp-paragraph tp-paragraph--16">
                Hinter unserem Managementteam stehen 20 engagierte Geschäftsreiseberater, von denen jeder über mindestens 10 Jahre Branchenerfahrung verfügt.
              </p>
            </div>
            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-sm-5 mt-24 mt-sm-0">
              <img src="<%= require('/public/assets/images/illustrations/travelpro-illustration-4.svg') %>" alt="" style="display:block;">
            </div>
          </div>
        </div>
      </div>

      <div class="tp-section">
        <div class="tp-container">
          <h2 class="tp-heading tp-heading--h3 mb-16">Warum bei Travel Pro arbeiten?</h2>
          <div class="tp-flex">
            <div class="tp-flex__col tp-flex__col-sm-8">
              <p class="tp-paragraph tp-paragraph--16">
                Travel Pro bietet attraktive Beschäftigungsmöglichkeiten. Wir glauben an das Potenzial unserer Mitarbeiter und fördern ihre berufliche Entwicklung. Wir wollen, dass sie jeden Tag spannende Momente erleben.
              </p>
            </div>
            <div class="tp-flex__col tp-flex__col-sm-4 mt-16">
              <a href="https://www.slg.lu/en/career/" target="_blank" class="tp-button tp-button--outlined tp-button--primary-900">Stellenangebote <i class="icon-arrow-up-right-from-square" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>

      <tp-newsletter-de></tp-newsletter-de>

      <!-- Talk to the travel pro team -->
      <tp-team-banner-de></tp-team-banner-de>
    </main>
    
    <tp-footer-de active="about-us"></tp-footer-de>
  </body>
</html>
