<!DOCTYPE html>
<html lang="de">
  <head>
    <meta name="Viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">

    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="apple-touch-icon" sizes="180x180" href="<%= require('/public/assets/favicon/apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= require('/public/assets/favicon/favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= require('/public/assets/favicon/favicon-16x16.png') %>">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <a class="tp-skiplink" href="#content">Go to content</a>
    
    <tp-header-de active="business-travel"></tp-header-de>

    <main class="tp-main">
      <div class="tp-section pb-0 pb-md-80" style="background-image: url('<%= require('/public/assets/images/travelpro-background-6.webp') %>')">
        <div class="tp-container">
          <div class="tp-flex">
            <div class="tp-flex__col tp-flex__col-md-7">
              <h1 class="tp-heading tp-heading--h1 mb-32 mb-md-40">Unsere Geschäftsreisedienstleistungen</h1>
              <p class="tp-heading tp-heading--h3 mb-24">Lassen Sie uns uns um die Details kümmern, damit Sie sich auf das konzentrieren können, was wirklich zählt – Ihren Geschäftserfolg.</p>
              <p class="tp-paragraph tp-paragraph--16 mb-40">Wir bieten eine umfassende Palette von Dienstleistungen für Ihre Reisenden an, einschließlich Flugbuchungen, Hotelreservierungen, Zug- und Mietwagenreservierungen und vieles mehr.</p>
            </div>
            <div class="tp-flex__col tp-flex__col-md-5">
              <img src="<%= require('/public/assets/images/illustrations/travelpro-illustration-3.svg') %>" alt="" class="tp-illu-2">
            </div>
          </div>
        </div>
      </div>

      <!-- section tabs -->
      <div class="tp-section">
        <div class="tp-container text-center">
          <div class="tp-flex justify-content-center mb-40">
            <div class="tp-flex__col tp-flex__col-lg-6">
              <h2 class="tp-heading tp-heading--h2 mb-24">Verwalten Sie Ihre Geschäftsreise</h2>
              <p class="tp-heading tp-heading--h4">Egal, ob Sie ein Reisemanager oder ein Reisender sind, wir bieten Ihnen die Lösungen, die Sie benötigen, um Ihre Geschäftsreise zu verwalten.</p>
            </div>
          </div>
        </div>

        <div class="tp-container">
<!--           <div role="tablist" aria-labelledby="tablist-1" class="tp-tabs">
            <button id="tab-1" class="tp-button tp-button--primary-900" role="tab" aria-selected="true" aria-controls="tabpanel-1">Cytric</button>
            <button id="tab-2" class="tp-button tp-button--primary-900 tp-button--text-only" role="tab" aria-selected="false" aria-controls="tabpanel-2" tabindex="-1">Neo by KDS</button>
          </div> -->

          <div class="tp-tabs-content">
           <!--  Ne pas oublier de remettre tabindex="0" ainsi que aria-labelledby="tab-1" si on réactive les tabs -->
            <div id="tabpanel-1" role="tabpanel">
              <div class="tp-flex justify-content-between">
                <div class="tp-flex__col tp-flex__col-md-7">
                  <img src="<%= require('/public/assets/images/travelpro-visual-3.webp') %>" alt="">
                </div>
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-paragraph tp-paragraph--16 mb-24">Cytric</p>
                  <ul class="list-icons mb-40">
                    <li>Online-Buchungstool für Flüge, Hotels, Mietwagen und Bahnreisen</li>
                    <li>Multicontent: GDS, NDC, Aggregatoren oder direkte Anbieter</li>
                    <li>Reiserichtlinie</li>
                    <li>Ausgabenmanagement</li>
                    <li>Klare CO2-Anzeigen</li>
                  </ul>
                  <a href="request-demo.html" class="tp-button tp-button--primary">Demo anfordern</a>
                </div>
              </div>
            </div>
<!--             <div id="tabpanel-2" role="tabpanel" tabindex="0" aria-labelledby="tab-2" class="is-hidden">
              <p>
                Carl Joachim Andersen (29 April 1847 – 7 May 1909) was a Danish flutist, conductor and composer born in Copenhagen, son of the flutist Christian Joachim Andersen.
                Both as a virtuoso and as composer of flute music, he is considered one of the best of his time.
                He was considered to be a tough leader and teacher and demanded as such a lot from his orchestras but through that style he reached a high level.
              </p>
            </div> -->
          </div>
        </div>
      </div>

      <div class="tp-section" style="background-image: url('<%= require('/public/assets/images/travelpro-background-7.webp') %>')">
        <div class="tp-container">
          <div class="tp-flex">
            <div class="tp-flex__col tp-flex__col-md-4">
              <h2 class="tp-heading tp-heading--h2 mb-24">Kundenerfahrung</h2>
              <p class="tp-paragraph tp-paragraph--16 mb-24">
                Bei travelPro verstehen wir die Bedeutung reibungsloser und effizienter Geschäftsreisen. Mit unserer Expertise kümmern wir uns um jeden Aspekt Ihrer Geschäftsreise - von der Buchung bis zu Ihrer Rückkehr nach Hause. 
                <strong>Verlassen Sie sich auf travelPro als Ihren zuverlässigen Partner für Geschäftsreisen.</strong>
              </p>
              <a href="contact.html" class="tp-button tp-button--primary">Kommen Sie in Kontakt</a>
            </div>
            <div class="tp-flex__col tp-flex__col-md-8 mt-32 mt-md-0">
              <div class="tp-expand mb-16">
                <div class="tp-number mb-16">
                  <div class="tp-number__number">1</div>
                  <div class="tp-heading tp-heading--h4">Vorher</div>
                </div>
                <p class="tp-paragraph tp-paragraph--16">
                  Unser umfassender Service beginnt mit der Planung Ihrer Reise. Wir bieten ein benutzerfreundliches Online-Buchungstool, das Ihren Buchungsprozess vereinfacht...
                </p>
                <div class="tp-expand__content" id="expand-1" aria-hidden="false">
                  <p class="tp-paragraph tp-paragraph--16">
                    Our comprehensive approach begins with pre-trip planning. 
                    We offer a user friendly online reservation system designed to streamline the booking process. 
                    Our dedicated...
                  </p>
                </div>
                <button 
                  class="tp-expand__trigger tp-link" 
                  aria-controls="expand-1" 
                  aria-expanded="false" 
                  data-more="Mehr anzeigen" 
                  data-less="Weniger anzeigen"
                >
                  <span>Mehr anzeigen</span> 
                  <i class="icon-chevron-down" aria-hidden="true"></i>
                </button>
              </div>

              <div class="tp-expand mb-16">
                <div class="tp-number mb-16">
                  <div class="tp-number__number">2</div>
                  <div class="tp-heading tp-heading--h4">Während</div>
                </div>
                <p class="tp-paragraph tp-paragraph--16">
                  Wir sind bei Ihnen jeden Schritt des Weges. Vom bevorzugten Check-in bis zum exklusiven Lounge-Zugang sorgen wir für ein reibungsloses Erlebnis...
                </p>
                <div class="tp-expand__content" id="expand-1" aria-hidden="false">
                  <p class="tp-paragraph tp-paragraph--16">
                    Unser rund um die Uhr verfügbarer Support steht telefonisch zur Verfügung, um sich um unvorhergesehene Umstände, Änderungen oder Anfragen zu kümmern. Sie können sich auf Ihre Geschäftsziele konzentrieren, während wir uns um den Rest kümmern.
                  </p>
                </div>
                <button 
                  class="tp-expand__trigger tp-link" 
                  aria-controls="expand-1" 
                  aria-expanded="false" 
                  data-more="Mehr anzeigen" 
                  data-less="Weniger anzeigen"
                >
                  <span>Mehr anzeigen</span> 
                  <i class="icon-chevron-down" aria-hidden="true"></i>
                </button>
              </div>

              <div class="tp-expand">
                <div class="tp-number mb-16">
                  <div class="tp-number__number">3</div>
                  <div class="tp-heading tp-heading--h4">Nach</div>
                </div>
                <p class="tp-paragraph tp-paragraph--16">
                  Unser Engagement endet nicht, wenn Sie zurückkehren. Wir glauben an die Bedeutung der Nachbereitung, um unsere Dienstleistungen kontinuierlich zu verbessern. Teilen Sie Ihr Feedback, und wir werden es nutzen, um...
                </p>
                <div class="tp-expand__content" id="expand-1" aria-hidden="false">
                  <p class="tp-paragraph tp-paragraph--16">
                    Unsere Lösungen im Ausgabenmanagement vereinfachen die Erstattung und machen Ihre Reisen effizienter und kostengünstiger. Vertrauen Sie travelPro für Bequemlichkeit, Zuverlässigkeit und Professionalität bei Ihren Geschäftsreisen.
                  </p>
                </div>
                <button 
                  class="tp-expand__trigger tp-link" 
                  aria-controls="expand-1" 
                  aria-expanded="false" 
                  data-more="Mehr anzeigen" 
                  data-less="Weniger anzeigen"
                >
                  <span>Mehr anzeigen</span> 
                  <i class="icon-chevron-down" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- section tabs -->
      <div class="tp-section">
        <div class="tp-container text-center">
          <div class="tp-flex justify-content-center mb-40">
            <div class="tp-flex__col tp-flex__col-lg-6">
              <h2 class="tp-heading tp-heading--h2 mb-24">Unsere detaillierten Dienstleistungen</h2>
            </div>
          </div>
        </div>

        <div class="tp-container">
          <div role="tablist" aria-labelledby="tablist-1" class="tp-tabs">
            <button id="digital-tools" class="tp-button tp-button--primary-900" role="tab" aria-selected="true" aria-controls="tabpanel-digital-tools">Digitale tools</button>
            <button id="travel-facilities" class="tp-button tp-button--primary-900 tp-button--text-only" role="tab" aria-selected="false" aria-controls="tabpanel-travel-facilities" tabindex="-1">Reiseeinrichtungen</button>
            <button id="assistance" class="tp-button tp-button--primary-900 tp-button--text-only" role="tab" aria-selected="false" aria-controls="tabpanel-assistance" tabindex="-1">Unterstützung</button>
            <button id="review" class="tp-button tp-button--primary-900 tp-button--text-only" role="tab" aria-selected="false" aria-controls="tabpanel-review" tabindex="-1">Feedback &amp; Reklamationen</button>
          </div>

          <div class="tp-tabs-content">
            <div id="tabpanel-digital-tools" role="tabpanel" tabindex="0" aria-labelledby="digital-tools">
              <div class="tp-flex row-gap-40">
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">Online-Buchung</p>
                  <p class="tp-paragraph tp-paragraph--16">Genießen Sie fortschrittliche Technologie, die die Buchungsprozesse für Reisende und Reisemanager vereinfacht. </p>
                </div>
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">Berichterstattung</p>
                  <p class="tp-paragraph tp-paragraph--16">Greifen Sie auf verschiedene Berichte zu, um Ihr Reisebudget zu optimieren und fundierte Entscheidungen zu treffen. </p>
                </div>
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">Travel Alerts Notifier</p>
                  <p class="tp-paragraph tp-paragraph--16">Bleiben Sie während Ihrer Reise informiert, indem Sie die neuesten Reiseinformationen erhalten. </p>
                </div>
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">Virtuelle Zahlung</p>
                  <p class="tp-paragraph tp-paragraph--16">Wählen Sie aus einer Vielzahl von Zahlungslösungen, einschließlich virtueller Methoden für Hotelbuchungen oder kostengünstiger Optionen. </p>
                </div>
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">Mobile messenger</p>
                  <p class="tp-paragraph tp-paragraph--16">Erhalten Sie reisebezogene Informationen zu Ihrer Reiseroute direkt auf Ihr Mobilgerät gesendet. </p>
                </div>
              </div>
            </div>
            
            
            <div id="tabpanel-travel-facilities" role="tabpanel" tabindex="0" aria-labelledby="travel-facilities" class="is-hidden">
              <div class="tp-flex row-gap-40">
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">Weltweiter Transfer.</p>
                  <p class="tp-paragraph tp-paragraph--16">Wir bieten Unterstützung bei der Buchung von Transfers vom Zuhause oder Hotel zum Flughafen.</p>
                </div>
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">eSIM / SIM</p>
                  <p class="tp-paragraph tp-paragraph--16">Wir bieten eine weltweite Lösung, um Ihre Kommunikations- und Surf-Kosten zu reduzieren.</p>
                </div>
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">Visaantrag</p>
                  <p class="tp-paragraph tp-paragraph--16">Wir können Ihnen bei Visaanträgen oder ESTA-Formularen behilflich sein.</p>
                </div>
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">Zusätzliche Dienstleistungen.</p>
                  <p class="tp-paragraph tp-paragraph--16">Wir unterstützen Sie gerne bei allen Arten von zusätzlichen Dienstleistungen wie zusätzlichem Gepäck, Lounge-Pass</p>
                </div>
              </div>
            </div>
            <div id="tabpanel-assistance" role="tabpanel" tabindex="0" aria-labelledby="assistance" class="is-hidden">
              <div class="tp-flex row-gap-40">
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">24/7 Support</p>
                  <p class="tp-paragraph tp-paragraph--16">Wir stehen Ihnen jederzeit zur Verfügung, einschließlich Wochenenden und Feiertagen.</p>
                </div>
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">Travel Vitals</p>
                  <p class="tp-paragraph tp-paragraph--16">Das Tool von American Express GBT zur Überwachung sich entwickelnder Reisehinweise und behördlicher Anforderungen.</p>
                </div>
              </div>
            </div>
            <div id="tabpanel-review" role="tabpanel" tabindex="0" aria-labelledby="review" class="is-hidden">
              <div class="tp-flex row-gap-40">
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">Travel Care</p>
                  <p class="tp-paragraph tp-paragraph--16">Anfragen zu Ansprüchen und Entschädigungen werden von unserer spezialisierten Abteilung bearbeitet.</p>
                </div>
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">Kundenzufriedenheitsumfrage</p>
                  <p class="tp-paragraph tp-paragraph--16">Regelmäßige Umfragen unter unseren Kunden ermöglichen es uns, unsere Dienstleistungen ständig zu verbessern.</p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>

      <!-- testimonials -->
      <div class="tp-section" style="background-image: url('<%= require('/public/assets/images/travelpro-background-3.webp') %>')">
        <div class="tp-slider-overflow-container">
          <div class="tp-slider-overflow-container__content">
            <h2 class="tp-heading tp-heading--h2 mb-md-40 mb-16">Was die Kunden von Travel Pro über uns sagen</h2>
            <p class="tp-paragraph tp-paragraph--16 mb-24">Unsere Lösungen haben unseren Kunden geholfen, sicher, einfach und stressfrei zu reisen. Sie erzählen uns von ihren Erfahrungen</p>
          </div>

          <div class="tp-slider-overflow-container__inner">
            <div class="tp-slider-container">
              <div class="tp-swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <!-- Slides -->
                  <div class="swiper-slide">
                    <div class="tp-testimonial-card">
                      <blockquote>
                        <p class="tp-paragraph tp-paragraph--16">“ Die Zusammenarbeit mit Travel Pro hat unsere Geschäftsreiseanforderungen nachhaltig verändert. Ihre Liebe zum Detail, Effizienz und personalisierten Service haben sie wirklich hervorgehoben. Von der Organisation komplexer Reisepläne bis zur Gewährleistung reibungsloser Reiseerlebnisse hat Travel Pro kontinuierlich unsere Erwartungen übertroffen. Als B2B-Kunde mit Sitz in Luxemburg empfehlen wir ihre Dienstleistungen nachdrücklich anderen Unternehmen, die einen zuverlässigen Partner im Reisemanagement suchen. ”</p>
                        <footer>
                          <p class="tp-heading tp-heading--h4"><strong>John Doe</strong></p>
                          <p class="tp-paragraph tp-paragraph--16">CEO of #Luxembourg</p>
                        </footer>
                      </blockquote>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="tp-testimonial-card">
                      <blockquote>
                        <p class="tp-paragraph tp-paragraph--16">“ Travel Pro ist zu einem unschätzbaren Vermögen für unsere globalen Aktivitäten geworden. Die Hingabe ihres Teams, erstklassige Geschäftsreiselösungen anzubieten, zeigt sich in jeder Interaktion. Die Bequemlichkeit und Flexibilität, die sie bieten, machen unsere internationalen Reisen stressfrei. Von der Buchung bis zur Unterstützung unterwegs ist Travel Pro ein vertrauenswürdiger Verbündeter bei der Bewältigung der Komplexitäten von Geschäftsreisen. Sehr empfehlenswert für Unternehmen mit internationalem Footprint! ”</p>
                        <footer>
                          <p class="tp-heading tp-heading--h4"><strong>John Doe</strong></p>
                          <p class="tp-paragraph tp-paragraph--16">CEO of #Company</p>
                        </footer>
                      </blockquote>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="tp-testimonial-card">
                      <blockquote>
                        <p class="tp-paragraph tp-paragraph--16">“ Unsere Erfahrung mit Travel Pro war nichts weniger als außergewöhnlich. Als Finanzunternehmen mit Sitz in Luxemburg und internationaler Klientel sind Präzision und Zuverlässigkeit von höchster Bedeutung. Travel Pro hat kontinuierlich auf beiden Fronten geliefert und maßgeschneiderte Lösungen angeboten, die perfekt mit unseren Geschäftsanforderungen harmonieren. Ihre proaktive Herangehensweise und das Engagement für die Kundenzufriedenheit machen sie zum idealen Reisepartner für jedes B2B-Unternehmen. ”</p>
                        <footer>
                          <p class="tp-heading tp-heading--h4"><strong>John Doe</strong></p>
                          <p class="tp-paragraph tp-paragraph--16">CEO of #Company</p>
                        </footer>
                      </blockquote>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="tp-testimonial-card">
                      <blockquote>
                        <p class="tp-paragraph tp-paragraph--16">“ Die Partnerschaft mit Travel Pro hat unsere Geschäftsreiseprozesse optimiert und unsere gesamte Erfahrung verbessert. Ihre modernen Technologielösungen, kombiniert mit einem Team engagierter Fachleute, erleichtern die Verwaltung unseres Geschäftsreiseportfolios mühelos. Als Technologieunternehmen mit globaler Präsenz war die Entscheidung für Travel Pro als unseren Reisemanagementpartner strategisch. Ihre Fachkenntnisse und ihr Engagement für Exzellenz machen sie zu einer herausragenden Wahl für jede B2B-Organisation. ”</p>
                        <footer>
                          <p class="tp-heading tp-heading--h4"><strong>John Doe</strong></p>
                          <p class="tp-paragraph tp-paragraph--16">CEO of #Company</p>
                        </footer>
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tp-container">
          <div class="swiper-actions">
            <div class="swiper-pagination"></div>

            <div class="swiper-navigation">
              <button class="tp-button tp-button--primary-900 tp-button--outlined tp-button--icon-only swiper-button-prev" aria-label="Previous slide"><i class="icon-arrow-left-long" aria-hidden="true"></i></button>
              <button class="tp-button tp-button--primary-900 tp-button--outlined tp-button--icon-only swiper-button-next" aria-label="Next slide"><i class="icon-arrow-right-long" aria-hidden="true"></i></button></div>
          </div>
        </div>
      </div>

      <!--
      <div class="tp-section">
        <div class="tp-container">
          <div class="tp-flex justify-content-between align-items-center mb-24 mb-md-40">
            <div class="tp-flex__col tp-flex__col-md-6 mb-32 mb-md-0">
              <h2 class="tp-heading tp-heading--h2">Entdecken Sie die neuesten Nachrichten</h2>
            </div>
            <div class="tp-flex__col tp-flex__col-md-6 text-md-right">
              <a href="#" class="tp-button tp-button--primary-900 tp-button--outlined">Alle Artikel <i class="icon-arrow-right-long" aria-hidden="true"></i></a>
            </div>
          </div>

          <div class="tp-flex row-gap-16">
            <div class="tp-flex__col tp-flex__col-md-6">
              <article class="tp-article-card">
                <a href="#">
                  <div class="tp-article-card__image">
                    <div class="tp-badge tp-badge--primary-100">Tech</div>
                    <img src="<%= require('/public/assets/images/blog/2023-11-21/travelogix-analytix.webp') %>" alt="Analytix">
                    <div class="tp-article-card__blur">
                      <i class="icon-time" aria-hidden="true"></i>
                      <p>3 Minuten Lesedauer</p>
                    </div>
                  </div>
                  <div class="tp-article-card__content">
                    <h3 class="tp-heading tp-heading--h4 mb-16">Ändern Sie Ihre Sichtweise auf Reisedaten</h3>
                    <p class="tp-paragraph tp-paragraph--16">
                      Analytix ist eine leistungsstarke Cloud-basierte Business-Intelligence-Lösung, die die Konsolidierung von Daten aus mehreren Back-Office- und Buchungssystemen automatisiert. Sie bietet Travel Managern eine einzige verlässliche Datenquelle durch sofortige, intuitive und interaktive Berichte sowie anpassbare Dashboards.
                    </p>
                  </div>
                </a>
              </article>
            </div>
            <div class="tp-flex__col tp-flex__col-md-6 d-flex row-gap-16 justify-content-between" style="flex-direction: column;">
              <article class="tp-article-card tp-article-card--horizontal">
                <a href="#">
                  <div class="tp-article-card__image">
                    <img src="<%= require('/public/assets/images/blog/2023-11-21/made-in-luxembourg.webp') %>" alt="Label Made in Luxembourg">
                  </div>
                  <div class="tp-article-card__content">
                    <h3 class="tp-heading tp-heading--h4">Travel Pro S.A. ist stolz darauf, das Label "Made in Luxembourg" erhalten zu haben.</h3>
                  </div>
                </a>
              </article>
              <article class="tp-article-card tp-article-card--horizontal">
                <a href="#">
                  <div class="tp-article-card__image">
                    <img src="<%= require('/public/assets/images/blog/2023-11-21/new-distribution-capability.webp') %>" alt="NDC Flight">
                  </div>
                  <div class="tp-article-card__content">
                    <h3 class="tp-heading tp-heading--h4">Die Zukunft annehmen: NDC im Bereich Geschäftsreisen</h3>
                  </div>
                </a>
              </article>
            </div>
          </div>
        </div>
      </div>
      -->

      <!-- Talk to the travel pro team -->
      <tp-team-banner-de></tp-team-banner-de>
    </main>
    <tp-footer-de></tp-footer-de>
  </body>
</html>
