<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="Viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">

    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="apple-touch-icon" sizes="180x180" href="<%= require('/public/assets/favicon/apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= require('/public/assets/favicon/favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= require('/public/assets/favicon/favicon-16x16.png') %>">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- GetResponse Analytics -->
    <script type="text/javascript">
      (function(m, o, n, t, e, r, _){
              m['__GetResponseAnalyticsObject'] = e;m[e] = m[e] || function() {(m[e].q = m[e].q || []).push(arguments)};
              r = o.createElement(n);_ = o.getElementsByTagName(n)[0];r.async = 1;r.src = t;r.setAttribute('crossorigin', 'use-credentials');_.parentNode .insertBefore(r, _);
          })(window, document, 'script', 'https://newsletter.slg.lu/script/04309704-bfba-4e18-97d8-c7fc88928bfc/ga.js', 'GrTracking');
    
    
      </script>
    <!-- End GetResponse Analytics -->
  </head>
  <body>
    <a class="tp-skiplink" href="#content">Go to content</a>
    
    <tp-header active="about-us"></tp-header>

    <main class="tp-main">
      <div class="tp-section" style="background-image: url('<%= require('/public/assets/images/travelpro-background-6.webp') %>')">
        <div class="tp-container">
          <div class="tp-flex mb-32 mb-md-56">
            <div class="tp-flex__col tp-flex__col-md-7">
              <h1 class="tp-heading tp-heading--h1 mb-32 mb-md-40">Qui nous sommes</h1>
              <p class="tp-heading tp-heading--h3">Travel Pro est la plus grande société de gestion de voyages au Luxembourg</p>
            </div>
          </div>
          <div class="tp-flex row-gap-32">
            <div class="tp-flex__col tp-flex__col-6 tp-flex__col-sm-3 weight-600">
              <img src="<%= require('/public/assets/images/travelpro-rocket.svg') %>" alt="" class="mb-8">
              <p class="tp-paragraph tp-paragraph--16">Spécialisée dans les voyages d'affaires depuis 1993.</p>
            </div>
            <div class="tp-flex__col tp-flex__col-6 tp-flex__col-sm-3 weight-600">
              <img src="<%= require('/public/assets/images/travelpro-earth.svg') %>" alt="" class="mb-8">
              <p class="tp-paragraph tp-paragraph--16">Au service de plus de 450 société locales et internationales.</p>
            </div>
            <div class="tp-flex__col tp-flex__col-6 tp-flex__col-sm-3 weight-600">
              <img src="<%= require('/public/assets/images/travelpro-prize.svg') %>" alt="" class="mb-8">
              <p class="tp-paragraph tp-paragraph--16">Consultants en voyages seniors</p>
            </div>
            <div class="tp-flex__col tp-flex__col-6 tp-flex__col-sm-3 weight-600">
              <img src="<%= require('/public/assets/images/travelpro-dialog.svg') %>" alt="" class="mb-8">
              <p class="tp-paragraph tp-paragraph--16">Équipe multilingue En, lb, fr, de, it</p>
            </div>
          </div>
        </div>
      </div>

      <div class="tp-section">
        <div class="tp-container">
          <h2 class="tp-heading tp-heading--h2 mb-32">Nous travaillons en partenariat</h2>
          <div class="tp-flex row-gap-32">
            <div class="tp-flex__col tp-flex__col-sm-6 d-flex">
              <div class="pa-32 bg-primary-50 br-16">
                <img src="<%= require('/public/assets/images/logos/travelpro-logo-header.svg') %>" alt="" class="mb-32">
                <p class="tp-paragraph tp-paragraph--16 weight-600 mb-32">Travel Pro est membre du réseau de partenaires de voyage d'American Express Global Business Travel depuis 2014.</p>
                <a href="#" class="tp-link">Plus d'informations <i class="icon-arrow-up-right-from-square" aria-hidden="true"></i></a>
              </div>
            </div>
            <div class="tp-flex__col tp-flex__col-sm-6">
              <div class="pa-32 bg-primary-50 br-16">
                <img src="<%= require('/public/assets/images/travelpro-part-of-slg-2.svg') %>" alt="" class="mb-32">
                <p class="tp-paragraph tp-paragraph--16 weight-600 mb-32">Nous faisons partie du groupe SLG, une entreprise familiale fondée en 1948, leader au Luxembourg dans le domaine de la mobilité et des voyages.</p>
                <a href="#" class="tp-link">Plus d'informations <i class="icon-arrow-up-right-from-square" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tp-section">
        <div class="tp-container">
          <h2 class="tp-heading tp-heading--h2 mb-32 text-center">Valeurs</h2>
          <div class="tp-flex justify-content-center">
            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-sm-8">
              <p class="tp-heading tp-heading--h3 text-center weight-500">
                Les valeurs corporatives de Travel Pro sont basées sur les valeurs de notre société mère, SLG. Elles constituent la base de nos actions et représentent ce qui est important pour nous et ce qui nous motive dans tout ce que nous faisons.
              </p>
            </div>
          </div>

          <div class="tp-flex mt-40 row-gap-sm-40">
            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-sm-4">
              <div class="tp-expand-2">
                <div class="tp-expand-2__trigger" aria-expanded="false"> 
                  <i class="icon-circle-check color-primary-700 font-size-26" aria-hidden="true"></i>
                  <h3 class="tp-heading tp-heading--h3">Employés</h3>
                  <i class="icon-chevron-down color-neutral-700 tp-expand-2__arrow" aria-hidden="true"></i>
                </div>
                <div class="tp-expand-2__content">
                  <div class="tp-expand-2__spacer">&nbsp;</div>
                  <p class="tp-paragraph tp-paragraph--16">Nous soutenons nos employés en prônant une égalité absolue. Nous rejetons toute forme de discrimination basée sur le genre, l'origine, la religion, l'âge ou l'orientation sexuelle.</p>
                </div>
              </div>
            </div>
            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-sm-4">
              <div class="tp-expand-2">
                <div class="tp-expand-2__trigger" aria-expanded="false"> 
                  <i class="icon-circle-check color-primary-700 font-size-26" aria-hidden="true"></i>
                  <h3 class="tp-heading tp-heading--h3">Engagement en matière de protection des données et de conformité</h3>
                  <i class="icon-chevron-down color-neutral-700 tp-expand-2__arrow" aria-hidden="true"></i>
                </div>
                <div class="tp-expand-2__content">
                  <div class="tp-expand-2__spacer">&nbsp;</div>
                  <p class="tp-paragraph tp-paragraph--16">
                    Transparency, data security, personal rights, data retention, training and awareness-raising on these topics as well as close cooperation with the authorities are of great importance to us.
                  </p>
                </div>
              </div>
            </div>
            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-sm-4">
              <div class="tp-expand-2">
                <div class="tp-expand-2__trigger" aria-expanded="false"> 
                  <i class="icon-circle-check color-primary-700 font-size-26" aria-hidden="true"></i>
                  <h3 class="tp-heading tp-heading--h3">Santé et sécurité</h3>
                  <i class="icon-chevron-down color-neutral-700 tp-expand-2__arrow" aria-hidden="true"></i>
                </div>
                <div class="tp-expand-2__content">
                  <div class="tp-expand-2__spacer">&nbsp;</div>
                  <p class="tp-paragraph tp-paragraph--16">
                    La santé de nos employés et la sécurité de nos clients sont toujours notre priorité absolue.
                  </p>
                </div>
              </div>
            </div>

            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-sm-4">
              <div class="tp-expand-2">
                <div class="tp-expand-2__trigger" aria-expanded="false"> 
                  <i class="icon-circle-check color-primary-700 font-size-26" aria-hidden="true"></i>
                  <h3 class="tp-heading tp-heading--h3">Innovation</h3>
                  <i class="icon-chevron-down color-neutral-700 tp-expand-2__arrow" aria-hidden="true"></i>
                </div>
                <div class="tp-expand-2__content">
                  <div class="tp-expand-2__spacer">&nbsp;</div>
                  <p class="tp-paragraph tp-paragraph--16">Notre objectif est de faciliter la réservation de voyages et les déplacements pour nos clients. Nous nous efforçons toujours d'offrir des solutions et des services innovants et cherchons à être à la pointe de la technologie dans notre industrie.</p>
                </div>
              </div>
            </div>
            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-sm-4">
              <div class="tp-expand-2">
                <div class="tp-expand-2__trigger" aria-expanded="false"> 
                  <i class="icon-circle-check color-primary-700 font-size-26" aria-hidden="true"></i>
                  <h3 class="tp-heading tp-heading--h3">Partenariat avec les fournisseurs</h3>
                  <i class="icon-chevron-down color-neutral-700 tp-expand-2__arrow" aria-hidden="true"></i>
                </div>
                <div class="tp-expand-2__content">
                  <div class="tp-expand-2__spacer">&nbsp;</div>
                  <p class="tp-paragraph tp-paragraph--16">
                    Travel Pro considère ses fournisseurs comme des alliés importants. Nous les sélectionnons selon des critères de qualité et donnons la préférence à ceux qui partagent une culture d'entreprise similaire à la nôtre.
                  </p>
                </div>
              </div>
            </div>
            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-sm-4">
              <div class="tp-expand-2">
                <div class="tp-expand-2__trigger" aria-expanded="false"> 
                  <i class="icon-circle-check color-primary-700 font-size-26" aria-hidden="true"></i>
                  <h3 class="tp-heading tp-heading--h3">Notre approche de la concurrence</h3>
                  <i class="icon-chevron-down color-neutral-700 tp-expand-2__arrow" aria-hidden="true"></i>
                </div>
                <div class="tp-expand-2__content">
                  <div class="tp-expand-2__spacer">&nbsp;</div>
                  <p class="tp-paragraph tp-paragraph--16">
                    Nous respectons la propriété de nos concurrents sur le marché et rejetons toute appropriation illégale d'informations commerciales ainsi que toute action douteuse visant à obtenir un avantage concurrentiel.
                  </p>
                </div>
              </div>
            </div>

            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-sm-4">
              <div class="tp-expand-2">
                <div class="tp-expand-2__trigger" aria-expanded="false"> 
                  <i class="icon-circle-check color-primary-700 font-size-26" aria-hidden="true"></i>
                  <h3 class="tp-heading tp-heading--h3">Responsabilité environnementale</h3>
                  <i class="icon-chevron-down color-neutral-700 tp-expand-2__arrow" aria-hidden="true"></i>
                </div>
                <div class="tp-expand-2__content">
                  <div class="tp-expand-2__spacer">&nbsp;</div>
                  <p class="tp-paragraph tp-paragraph--16">Chez Travel Pro, nous nous engageons à réduire autant que possible notre empreinte environnementale. Nous accordons la priorité à la durabilité dans tous nos processus commerciaux et nous nous efforçons de collaborer avec des entreprises partageant les mêmes ambitions. Ensemble, nous pouvons œuvrer pour une industrie du voyage plus respectueuse de l'environnement. </p>
                </div>
              </div>
            </div>
            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-sm-4">
              <div class="tp-expand-2">
                <div class="tp-expand-2__trigger" aria-expanded="false"> 
                  <i class="icon-circle-check color-primary-700 font-size-26" aria-hidden="true"></i>
                  <h3 class="tp-heading tp-heading--h3">Engagement social</h3>
                  <i class="icon-chevron-down color-neutral-700 tp-expand-2__arrow" aria-hidden="true"></i>
                </div>
                <div class="tp-expand-2__content">
                  <div class="tp-expand-2__spacer">&nbsp;</div>
                  <p class="tp-paragraph tp-paragraph--16">
                    En tant qu'employeur engagé envers la responsabilité sociale, nous reconnaissons notre responsabilité d'intégrer et de sécuriser des emplois au sein de notre organisation. De plus, nous nous engageons à promouvoir activement un tourisme plus responsable, durable et respectueux.
                  </p>
                </div>
              </div>
            </div>
            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-sm-4">
              <div class="tp-expand-2">
                <div class="tp-expand-2__trigger" aria-expanded="false"> 
                  <i class="icon-circle-check color-primary-700 font-size-26" aria-hidden="true"></i>
                  <h3 class="tp-heading tp-heading--h3">Gouvernance d'entreprise</h3>
                  <i class="icon-chevron-down color-neutral-700 tp-expand-2__arrow" aria-hidden="true"></i>
                </div>
                <div class="tp-expand-2__content">
                  <div class="tp-expand-2__spacer">&nbsp;</div>
                  <p class="tp-paragraph tp-paragraph--16">
                    Nous faisons partie d'un groupe d'entreprises de confiance qui valorise une gestion stable et à long terme. Les actions de la direction reposent sur le professionnalisme, la réactivité et l'efficacité. L'objectif de SLG est de trouver des solutions innovantes qui simplifient la vie des clients, et chez Travel Pro, nous nous efforçons de faire de même.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- team -->
      <div class="tp-section pb-0" style="background-image: url('<%= require('/public/assets/images/travelpro-background-7.webp') %>');">
        <div class="tp-slider-overflow-container">
          <div class="tp-slider-overflow-container__content">
            <h2 class="tp-heading tp-heading--h2 mb-md-24 mb-16">Notre équipe</h2>
            <p class="tp-paragraph tp-paragraph--16 mb-24">Travel Pro est dirigé par une équipe de direction basée au Luxembourg qui est résolument engagée envers nos objectifs tournés vers l'avenir.</p>
          </div>

          <div class="tp-slider-overflow-container__inner">
            <div class="tp-slider-container">
              <div class="tp-swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <!-- Slides -->
                  <div class="swiper-slide">
                    <div class="tp-team-card">
                      <div class="tp-team-card__visual"><img src="<%= require('/public/assets/images/team/gianni-pietrangelo.webp') %>" alt="Gianni Pietrangelo"></div>
                      <div class="tp-team-card__content">
                        <p class="tp-heading tp-heading--h4"><strong>Gianni Pietrangelo</strong></p>
                        <p class="tp-paragraph tp-paragraph--16">Président-directeur général</p>
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="tp-team-card">
                      <div class="tp-team-card__visual"><img src="<%= require('/public/assets/images/team/joelle-weber.webp') %>" alt="Joelle Weber"></div>
                      <div class="tp-team-card__content">
                        <p class="tp-heading tp-heading--h4"><strong>Joëlle Weber</strong></p>
                        <p class="tp-paragraph tp-paragraph--16">Directeur des opérations</p>
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="tp-team-card">
                      <div class="tp-team-card__visual"><img src="<%= require('/public/assets/images/team/mirko-persuric.webp') %>" alt="Mirko Persuric"></div>
                      <div class="tp-team-card__content">
                        <p class="tp-heading tp-heading--h4"><strong>Mirko Persuric</strong></p>
                        <p class="tp-paragraph tp-paragraph--16">Responsable des ventes</p>
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="tp-team-card">
                      <div class="tp-team-card__visual"><img src="<%= require('/public/assets/images/team/tamara-gadzimski.webp') %>" alt="Tamara Gadzimski"></div>
                      <div class="tp-team-card__content">
                        <p class="tp-heading tp-heading--h4"><strong>Tamara GADZIMSKI</strong></p>
                        <p class="tp-paragraph tp-paragraph--16">Responsable Lean</p>
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="tp-team-card">
                      <div class="tp-team-card__visual"><img src="<%= require('/public/assets/images/team/markus-meyers.webp') %>" alt="Markus Meyers"></div>
                      <div class="tp-team-card__content">
                        <p class="tp-heading tp-heading--h4"><strong>Markus Meyers</strong></p>
                        <p class="tp-paragraph tp-paragraph--16">Responsable du gestionnaire de comptes</p>
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="tp-team-card">
                      <div class="tp-team-card__visual"><img src="<%= require('/public/assets/images/team/alexandra-clemens.webp') %>" alt="Alexandra Clemens"></div>
                      <div class="tp-team-card__content">
                        <p class="tp-heading tp-heading--h4"><strong>Alexandra Clemens</strong></p>
                        <p class="tp-paragraph tp-paragraph--16">Responsable Lifestyle</p>
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="tp-team-card">
                      <div class="tp-team-card__visual"><img src="<%= require('/public/assets/images/team/grete-saksakulm.webp') %>" alt="Grete Saksakulm"></div>
                      <div class="tp-team-card__content">
                        <p class="tp-heading tp-heading--h4"><strong>Grete Saksakulm</strong></p>
                        <p class="tp-paragraph tp-paragraph--16">Assistant personnel</p>
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="tp-team-card">
                      <div class="tp-team-card__visual"><img src="<%= require('/public/assets/images/team/sonia-el-hassouni.webp') %>" alt="Sonia El Hassouni"></div>
                      <div class="tp-team-card__content">
                        <p class="tp-heading tp-heading--h4"><strong>Sonia El Hassouni</strong></p>
                        <p class="tp-paragraph tp-paragraph--16">Responsable M.I.C.E.</p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tp-container">
          <div class="swiper-actions">
            <div class="swiper-pagination"></div>

            <div class="swiper-navigation">
              <button class="tp-button tp-button--primary-900 tp-button--outlined tp-button--icon-only swiper-button-prev" aria-label="Previous slide"><i class="icon-arrow-left-long" aria-hidden="true"></i></button>
              <button class="tp-button tp-button--primary-900 tp-button--outlined tp-button--icon-only swiper-button-next" aria-label="Next slide"><i class="icon-arrow-right-long" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>

        <div class="tp-container mt-56 mt-sm-24">
          <div class="tp-flex align-items-center">
            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-sm-7">
              <p class="tp-paragraph tp-paragraph--16">
                Derrière notre équipe de direction se trouvent 20 agents de voyages d'affaires dévoués, chacun ayant au moins 10 ans d'expérience dans l'industrie.
              </p>
            </div>
            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-sm-5 mt-24 mt-sm-0">
              <img src="<%= require('/public/assets/images/illustrations/travelpro-illustration-4.svg') %>" alt="" style="display:block;">
            </div>
          </div>
        </div>
      </div>

      <div class="tp-section">
        <div class="tp-container">
          <h2 class="tp-heading tp-heading--h3 mb-16">Pourquoi travailler chez Travel Pro ?</h2>
          <div class="tp-flex">
            <div class="tp-flex__col tp-flex__col-sm-8">
              <p class="tp-paragraph tp-paragraph--16">
                Travel Pro propose des opportunités d'emploi attrayantes. Nous croyons au potentiel de nos employés et encourageons leur développement professionnel. Nous voulons qu'ils vivent des moments passionnants chaque jour.
              </p>
            </div>
            <div class="tp-flex__col tp-flex__col-sm-4 mt-16">
              <a href="https://www.slg.lu/en/career/" target="_blank" class="tp-button tp-button--outlined tp-button--primary-900">Opportunités d'emploi <i class="icon-arrow-up-right-from-square" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>

      <tp-newsletter></tp-newsletter>

      <!-- Talk to the travel pro team -->
      <tp-team-banner></tp-team-banner>
    </main>
    
    <tp-footer-fr></tp-footer-fr>
  </body>
</html>
