<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="Viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">

    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="apple-touch-icon" sizes="180x180" href="<%= require('/public/assets/favicon/apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= require('/public/assets/favicon/favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= require('/public/assets/favicon/favicon-16x16.png') %>">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <a class="tp-skiplink" href="#content">Go to content</a>
    
    <tp-header active="business-travel"></tp-header>

    <main class="tp-main">
      <div class="tp-section pb-0 pb-md-80" style="background-image: url('<%= require('/public/assets/images/travelpro-background-6.webp') %>')">
        <div class="tp-container">
          <div class="tp-flex">
            <div class="tp-flex__col tp-flex__col-md-7">
              <h1 class="tp-heading tp-heading--h1 mb-32 mb-md-40">Nos services de voyages d'affaires</h1>
              <p class="tp-heading tp-heading--h3 mb-24">Laissez-nous nous occuper des détails, afin que vous puissiez vous concentrer sur ce qui compte vraiment - le succès de votre société.</p>
              <p class="tp-paragraph tp-paragraph--16 mb-40">Nous proposons une gamme complète de services pour vos voyageurs, comprenant des réservations de vols, d'hôtels, de trains, de locations de voitures, et bien plus encore.</p>
            </div>
            <div class="tp-flex__col tp-flex__col-md-5">
              <img src="<%= require('/public/assets/images/illustrations/travelpro-illustration-3.svg') %>" alt="" class="tp-illu-2">
            </div>
          </div>
        </div>
      </div>

      <!-- section tabs -->
      <div class="tp-section">
        <div class="tp-container text-center">
          <div class="tp-flex justify-content-center mb-40">
            <div class="tp-flex__col tp-flex__col-lg-6">
              <h2 class="tp-heading tp-heading--h2 mb-24">Gérez votre voyage d'affaires</h2>
              <p class="tp-heading tp-heading--h4">Que vous soyez un responsable des voyages ou un voyageur, nous vous proposons les solutions dont vous avez besoin pour gérer vos voyages d'affaires.</p>
            </div>
          </div>
        </div>

        <div class="tp-container">
<!--           <div role="tablist" aria-labelledby="tablist-1" class="tp-tabs">
            <button id="tab-1" class="tp-button tp-button--primary-900" role="tab" aria-selected="true" aria-controls="tabpanel-1">Cytric</button>
            <button id="tab-2" class="tp-button tp-button--primary-900 tp-button--text-only" role="tab" aria-selected="false" aria-controls="tabpanel-2" tabindex="-1">Neo by KDS</button>
          </div> -->

          <div class="tp-tabs-content">
           <!--  Ne pas oublier de remettre tabindex="0" ainsi que aria-labelledby="tab-1" si on réactive les tabs -->
            <div id="tabpanel-1" role="tabpanel">
              <div class="tp-flex justify-content-between">
                <div class="tp-flex__col tp-flex__col-md-7">
                  <img src="<%= require('/public/assets/images/travelpro-visual-3.webp') %>" alt="">
                </div>
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-paragraph tp-paragraph--16 mb-24">Cytric</p>
                  <ul class="list-icons mb-40">
                    <li>Outil de réservation en ligne pour vols, hôtels, location de voitures et train.</li>
                    <li>Contenu multiple : GDS, NDC, agrégateurs ou fournisseurs directs.</li>
                    <li>Politique de voyage</li>
                    <li>Gestion des dépenses</li>
                    <li>Affichages clairs des émissions de CO2</li>
                  </ul>
                  <a href="request-demo.html" class="tp-button tp-button--primary">Demander une démo</a>
                </div>
              </div>
            </div>
<!--             <div id="tabpanel-2" role="tabpanel" tabindex="0" aria-labelledby="tab-2" class="is-hidden">
              <p>
                Carl Joachim Andersen (29 April 1847 – 7 May 1909) was a Danish flutist, conductor and composer born in Copenhagen, son of the flutist Christian Joachim Andersen.
                Both as a virtuoso and as composer of flute music, he is considered one of the best of his time.
                He was considered to be a tough leader and teacher and demanded as such a lot from his orchestras but through that style he reached a high level.
              </p>
            </div> -->
          </div>
        </div>
      </div>

      <div class="tp-section" style="background-image: url('<%= require('/public/assets/images/travelpro-background-7.webp') %>')">
        <div class="tp-container">
          <div class="tp-flex">
            <div class="tp-flex__col tp-flex__col-md-4">
              <h2 class="tp-heading tp-heading--h2 mb-24">Expérience client</h2>
              <p class="tp-paragraph tp-paragraph--16 mb-24">
                Chez TravelPro, nous comprenons l'importance de voyages d'affaires fluides et efficaces. Avec notre expertise, nous nous occupons de chaque aspect de votre voyage d'affaires, de la réservation à votre retour chez vous.  
                <strong>Comptez sur TravelPro en tant que partenaire fiable pour vos voyages d'affaires.</strong>
              </p>
              <a href="contact.html" class="tp-button tp-button--primary">Contactez-nous</a>
            </div>
            <div class="tp-flex__col tp-flex__col-md-8 mt-32 mt-md-0">
              <div class="tp-expand mb-16">
                <div class="tp-number mb-16">
                  <div class="tp-number__number">1</div>
                  <div class="tp-heading tp-heading--h4">Avant</div>
                </div>
                <p class="tp-paragraph tp-paragraph--16">
                  Notre service complet commence par la planification de votre voyage. Nous proposons un outil de réservation en ligne convivial qui simplifie votre processus de réservation...
                </p>
                <div class="tp-expand__content" id="expand-1" aria-hidden="false">
                  <p class="tp-paragraph tp-paragraph--16">
                    Notre équipe dédiée personnalise votre itinéraire, trouvant les meilleures options pour répondre à vos besoins, préférences et budget.
                  </p>
                </div>
                <button 
                  class="tp-expand__trigger tp-link" 
                  aria-controls="expand-1" 
                  aria-expanded="false" 
                  data-more="Voir plus" 
                  data-less="Voir moins"
                >
                  <span>Voir plus</span> 
                  <i class="icon-chevron-down" aria-hidden="true"></i>
                </button>
              </div>

              <div class="tp-expand mb-16">
                <div class="tp-number mb-16">
                  <div class="tp-number__number">2</div>
                  <div class="tp-heading tp-heading--h4">Pendant</div>
                </div>
                <p class="tp-paragraph tp-paragraph--16">
                  Nous sommes à vos côtés à chaque étape. Du check-in prioritaire à l'accès exclusif au salon, nous veillons à une expérience fluide...
                </p>
                <div class="tp-expand__content" id="expand-1" aria-hidden="false">
                  <p class="tp-paragraph tp-paragraph--16">
                    Notre assistance 24h/24 et 7j/7 est disponible par téléphone pour faire face à toute circonstance imprévue, changement ou demande. Vous pouvez vous concentrer sur vos objectifs commerciaux pendant que nous nous occupons du reste.
                  </p>
                </div>
                <button 
                  class="tp-expand__trigger tp-link" 
                  aria-controls="expand-1" 
                  aria-expanded="false" 
                  data-more="Voir plus" 
                  data-less="Voir moins"
                >
                  <span>Voir plus</span> 
                  <i class="icon-chevron-down" aria-hidden="true"></i>
                </button>
              </div>

              <div class="tp-expand">
                <div class="tp-number mb-16">
                  <div class="tp-number__number">3</div>
                  <div class="tp-heading tp-heading--h4">Après</div>
                </div>
                <p class="tp-paragraph tp-paragraph--16">
                  Nos efforts se poursuivent une fois que vous êtes de retour. Nous attachons de l'importance à l'évaluation conjointe et à vos commentaires après le voyage, ce qui nous permet d'améliorer continuellement et de personnaliser vos futures expériences de voyage.
                </p>
                <div class="tp-expand__content" id="expand-1" aria-hidden="false">
                  <p class="tp-paragraph tp-paragraph--16">
                    Nos solutions de gestion des dépenses simplifient le remboursement et rendent vos voyages plus efficaces et rentables. Faites confiance à travelPro pour la simplicité, la fiabilité et le professionnalisme lors de vos voyages d'affaires.
                  </p>
                </div>
                <button 
                  class="tp-expand__trigger tp-link" 
                  aria-controls="expand-1" 
                  aria-expanded="false" 
                  data-more="Voir plus" 
                  data-less="Voir moins"
                >
                  <span>Voir plus</span> 
                  <i class="icon-chevron-down" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- section tabs -->
      <div class="tp-section">
        <div class="tp-container text-center">
          <div class="tp-flex justify-content-center mb-40">
            <div class="tp-flex__col tp-flex__col-lg-6">
              <h2 class="tp-heading tp-heading--h2 mb-24">Nos services détaillés</h2>
            </div>
          </div>
        </div>

        <div class="tp-container">
          <div role="tablist" aria-labelledby="tablist-1" class="tp-tabs">
            <button id="digital-tools" class="tp-button tp-button--primary-900" role="tab" aria-selected="true" aria-controls="tabpanel-digital-tools">Outils digital</button>
            <button id="travel-facilities" class="tp-button tp-button--primary-900 tp-button--text-only" role="tab" aria-selected="false" aria-controls="tabpanel-travel-facilities" tabindex="-1">Facilités de voyage</button>
            <button id="assistance" class="tp-button tp-button--primary-900 tp-button--text-only" role="tab" aria-selected="false" aria-controls="tabpanel-assistance" tabindex="-1">Assistance</button>
            <button id="review" class="tp-button tp-button--primary-900 tp-button--text-only" role="tab" aria-selected="false" aria-controls="tabpanel-review" tabindex="-1">Feedback et Compensation</button>
          </div>

          <div class="tp-tabs-content">
            <div id="tabpanel-digital-tools" role="tabpanel" tabindex="0" aria-labelledby="digital-tools">
              <div class="tp-flex row-gap-40">
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">Réservation en ligne</p>
                  <p class="tp-paragraph tp-paragraph--16">Profitez de technologies avancées qui simplifient les processus de réservation pour les voyageurs et les responsables des voyages. </p>
                </div>
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">Rapports</p>
                  <p class="tp-paragraph tp-paragraph--16">Accédez à une variété de rapports pour optimiser votre budget de voyage et prendre des décisions éclairées. </p>
                </div>
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">Système de notification d'alertes de voyage</p>
                  <p class="tp-paragraph tp-paragraph--16">Restez informé pendant votre voyage en recevant les dernières informations de voyage. </p>
                </div>
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">Paiement virtuel</p>
                  <p class="tp-paragraph tp-paragraph--16">Choisissez parmi une gamme de solutions de paiement, y compris des méthodes virtuelles pour les réservations d'hôtels ou des options à faible coût. </p>
                </div>
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">Mobile messenger</p>
                  <p class="tp-paragraph tp-paragraph--16">Recevez des informations liées à votre itinéraire directement sur votre appareil mobile. </p>
                </div>
              </div>
            </div>
            
            
            <div id="tabpanel-travel-facilities" role="tabpanel" tabindex="0" aria-labelledby="travel-facilities" class="is-hidden">
              <div class="tp-flex row-gap-40">
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">Transfert dans le monde entier</p>
                  <p class="tp-paragraph tp-paragraph--16">Nous proposons une assistance pour la réservation de transferts depuis votre domicile ou votre hôtel jusqu'à l'aéroport.</p>
                </div>
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">eSIM / SIM</p>
                  <p class="tp-paragraph tp-paragraph--16">Nous proposons une solution mondiale pour réduire vos coûts de communication et de navigation.</p>
                </div>
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">Demande de visa</p>
                  <p class="tp-paragraph tp-paragraph--16">Nous pouvons vous assister dans le cadre de demandes de visa ou de formulaires ESTA.</p>
                </div>
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">Services supplémentaires</p>
                  <p class="tp-paragraph tp-paragraph--16">Nous sommes heureux de vous soutenir avec tout type de services supplémentaires tels que des bagages supplémentaires, des passes pour les lounge.</p>
                </div>
              </div>
            </div>
            <div id="tabpanel-assistance" role="tabpanel" tabindex="0" aria-labelledby="assistance" class="is-hidden">
              <div class="tp-flex row-gap-40">
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">Support 24/7</p>
                  <p class="tp-paragraph tp-paragraph--16">Nous sommes à votre disposition en tout temps, y compris les week-ends et les jours fériés.</p>
                </div>
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">Travel Vitals</p>
                  <p class="tp-paragraph tp-paragraph--16">Outil d'American Express GBT pour surveiller l'évolution des conseils de voyage et des exigences gouvernementales.</p>
                </div>
              </div>
            </div>
            <div id="tabpanel-review" role="tabpanel" tabindex="0" aria-labelledby="review" class="is-hidden">
              <div class="tp-flex row-gap-40">
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">Travel Care</p>
                  <p class="tp-paragraph tp-paragraph--16">Les réclamations et les demandes d'indemnisation sont traitées par notre département dédié.</p>
                </div>
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">Enquête de satisfaction client</p>
                  <p class="tp-paragraph tp-paragraph--16">Des enquêtes régulières auprès de nos clients nous permettent d'améliorer constamment nos services.</p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>

      <!-- testimonials -->
      <div class="tp-section" style="background-image: url('<%= require('/public/assets/images/travelpro-background-3.webp') %>')">
        <div class="tp-slider-overflow-container">
          <div class="tp-slider-overflow-container__content">
            <h2 class="tp-heading tp-heading--h2 mb-md-40 mb-16">What Travel Pro’s clients say about us</h2>
            <p class="tp-paragraph tp-paragraph--16 mb-24">Our solutions have helped our customers to travel safely, easily and stress-free. They tell us about their experiences</p>
          </div>

          <div class="tp-slider-overflow-container__inner">
            <div class="tp-slider-container">
              <div class="tp-swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <!-- Slides -->
                  <div class="swiper-slide">
                    <div class="tp-testimonial-card">
                      <blockquote>
                        <p class="tp-paragraph tp-paragraph--16">“ Working with Travel Pro has been a game-changer for our business travel needs. Their attention to detail, efficiency, and personalized service have truly set them apart. From organizing complex itineraries to ensuring seamless travel experiences, Travel Pro has consistently exceeded our expectations. As a B2B client based in Luxembourg, we highly recommend their services to fellow businesses looking for a reliable partner in travel management. ”</p>
                        <footer>
                          <p class="tp-heading tp-heading--h4"><strong>John Doe</strong></p>
                          <p class="tp-paragraph tp-paragraph--16">CEO of #Luxembourg</p>
                        </footer>
                      </blockquote>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="tp-testimonial-card">
                      <blockquote>
                        <p class="tp-paragraph tp-paragraph--16">“ Travel Pro has become an invaluable asset to our global operations. Their team's dedication to providing top-notch business travel solutions is evident in every interaction. The convenience and flexibility they offer make our international travel stress-free. From booking to on-the-go support, Travel Pro is a trusted ally in navigating the complexities of business travel. Highly recommended for businesses with an international footprint! ”</p>
                        <footer>
                          <p class="tp-heading tp-heading--h4"><strong>John Doe</strong></p>
                          <p class="tp-paragraph tp-paragraph--16">CEO of #Company</p>
                        </footer>
                      </blockquote>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="tp-testimonial-card">
                      <blockquote>
                        <p class="tp-paragraph tp-paragraph--16">“ Our experience with Travel Pro has been nothing short of exceptional. As a financial firm based in Luxembourg with international clientele, precision and reliability are paramount. Travel Pro has consistently delivered on both fronts, offering tailored solutions that align perfectly with our business requirements. Their proactive approach and commitment to customer satisfaction make them the ideal travel partner for any B2B enterprise. ”</p>
                        <footer>
                          <p class="tp-heading tp-heading--h4"><strong>John Doe</strong></p>
                          <p class="tp-paragraph tp-paragraph--16">CEO of #Company</p>
                        </footer>
                      </blockquote>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="tp-testimonial-card">
                      <blockquote>
                        <p class="tp-paragraph tp-paragraph--16">“ Partnering with Travel Pro has streamlined our business travel processes and elevated our overall experience. Their cutting-edge technology solutions, combined with a team of dedicated professionals, make managing our corporate travel portfolio effortless. As a tech company with a global presence, having Travel Pro as our travel management partner has been a strategic decision. Their expertise and commitment to excellence make them a standout choice for any B2B organization. ”</p>
                        <footer>
                          <p class="tp-heading tp-heading--h4"><strong>John Doe</strong></p>
                          <p class="tp-paragraph tp-paragraph--16">CEO of #Company</p>
                        </footer>
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tp-container">
          <div class="swiper-actions">
            <div class="swiper-pagination"></div>

            <div class="swiper-navigation">
              <button class="tp-button tp-button--primary-900 tp-button--outlined tp-button--icon-only swiper-button-prev" aria-label="Previous slide"><i class="icon-arrow-left-long" aria-hidden="true"></i></button>
              <button class="tp-button tp-button--primary-900 tp-button--outlined tp-button--icon-only swiper-button-next" aria-label="Next slide"><i class="icon-arrow-right-long" aria-hidden="true"></i></button></div>
          </div>
        </div>
      </div>

      <div class="tp-section">
        <div class="tp-container">
          <div class="tp-flex justify-content-between align-items-center mb-24 mb-md-40">
            <div class="tp-flex__col tp-flex__col-md-6 mb-32 mb-md-0">
              <h2 class="tp-heading tp-heading--h2">Découvrez les dernières actualités</h2>
            </div>
            <div class="tp-flex__col tp-flex__col-md-6 text-md-right">
              <a href="#" class="tp-button tp-button--primary-900 tp-button--outlined">Tous les articles <i class="icon-arrow-right-long" aria-hidden="true"></i></a>
            </div>
          </div>

          <div class="tp-flex row-gap-16">
            <div class="tp-flex__col tp-flex__col-md-6">
              <article class="tp-article-card">
                <a href="#">
                  <div class="tp-article-card__image">
                    <div class="tp-badge tp-badge--primary-100">Tech</div>
                    <img src="<%= require('/public/assets/images/blog/2023-11-21/travelogix-analytix.webp') %>" alt="Analytix">
                    <div class="tp-article-card__blur">
                      <i class="icon-time" aria-hidden="true"></i>
                      <p>Lecture de 3 minutes</p>
                    </div>
                  </div>
                  <div class="tp-article-card__content">
                    <h3 class="tp-heading tp-heading--h4 mb-16">Changez votre vision des données de voyage</h3>
                    <p class="tp-paragraph tp-paragraph--16">
                      Analytix est une puissante solution d'intelligence d'affaires basée sur le cloud qui automatise la consolidation des données provenant de multiples systèmes de back-office et de réservation. Il fournit une source unique de vérité aux responsables des voyages grâce à des rapports immédiats, intuitifs et interactifs, ainsi que des tableaux de bord personnalisables.
                    </p>
                  </div>
                </a>
              </article>
            </div>
            <div class="tp-flex__col tp-flex__col-md-6 d-flex row-gap-16 justify-content-between" style="flex-direction: column;">
              <article class="tp-article-card tp-article-card--horizontal">
                <a href="#">
                  <div class="tp-article-card__image">
                    <img src="<%= require('/public/assets/images/blog/2023-11-21/made-in-luxembourg.webp') %>" alt="Label Made in Luxembourg">
                  </div>
                  <div class="tp-article-card__content">
                    <h3 class="tp-heading tp-heading--h4">Travel Pro S.A. est fier d'annoncer l'obtention du label "Made in Luxembourg".</h3>
                  </div>
                </a>
              </article>
              <article class="tp-article-card tp-article-card--horizontal">
                <a href="#">
                  <div class="tp-article-card__image">
                    <img src="<%= require('/public/assets/images/blog/2023-11-21/new-distribution-capability.webp') %>" alt="NDC Flight">
                  </div>
                  <div class="tp-article-card__content">
                    <h3 class="tp-heading tp-heading--h4">S'ouvrir à l'avenir : NDC dans les voyages d'affaires</h3>
                  </div>
                </a>
              </article>
            </div>
          </div>
        </div>
      </div>

      <!-- Talk to the travel pro team -->
      <tp-team-banner></tp-team-banner>
    </main>
    <tp-footer></tp-footer>
  </body>
</html>
