<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="Viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://travel-pro.lu/" />
    <meta property="og:title" content="Voyage d'Affaires avec Travel Pro : Réservation en Ligne Facile & Support 24/7" />
    <meta property="og:description" content="Découvrez les solutions de voyage d'affaires personnalisées avec Travel Pro. Réservations en ligne faciles, assistance d'agent, service client 24/7, reporting avancé et systèmes de paiement virtuels pour vos voyages d'affaires." />
    <meta property="og:image" content="https://travel-pro.lu/beta/travelpro-meta-image.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://travel-pro.lu/" />
    <meta property="twitter:title" content="Voyage d'Affaires avec Travel Pro : Réservation en Ligne Facile & Support 24/7" />
    <meta property="twitter:description" content="Découvrez les solutions de voyage d'affaires personnalisées avec Travel Pro. Réservations en ligne faciles, assistance d'agent, service client 24/7, reporting avancé et systèmes de paiement virtuels pour vos voyages d'affaires." />
    <meta property="twitter:image" content="https://travel-pro.lu/beta/travelpro-meta-image.png" />

    <link rel="apple-touch-icon" sizes="180x180" href="<%= require('/public/assets/favicon/apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= require('/public/assets/favicon/favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= require('/public/assets/favicon/favicon-16x16.png') %>">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Cookiebot -->
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="0b502577-0cf0-4d39-b511-8d9c5d2e1b2b" type="text/javascript" async></script>
    <!-- END Cookiebot -->

    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NTB3J5D');
    </script> 
    <!-- End Google Tag Manager -->
    
  </head>
  <body>
    <!-- Google Tag Manager (noscript) --> 
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTB3J5D" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> 
    <!-- End Google Tag Manager (noscript) -->
    <a class="tp-skiplink" href="#content">Go to content</a>
    
    <tp-header active="business-travel"></tp-header>

    <main class="tp-main">
      <div class="tp-section pb-0 pb-md-80" style="background-image: url('<%= require('/public/assets/images/travelpro-background-6.webp') %>')">
        <div class="tp-container">
          <div class="tp-flex">
            <div class="tp-flex__col tp-flex__col-md-7">
              <h1 class="tp-heading tp-heading--h1 mb-32 mb-md-40">Nos services de voyages d'affaires</h1>
              <p class="tp-heading tp-heading--h3 mb-24">Laissez-nous nous occuper des détails, afin que vous puissiez vous concentrer sur ce qui compte vraiment - le succès de votre société.</p>
              <p class="tp-paragraph tp-paragraph--16 mb-40">Nous proposons une gamme complète de services pour vos voyageurs, comprenant des réservations de vols, d'hôtels, de trains, de locations de voitures, et bien plus encore.</p>
            </div>
            <div class="tp-flex__col tp-flex__col-md-5">
              <img src="<%= require('/public/assets/images/illustrations/travelpro-illustration-3.svg') %>" alt="" class="tp-illu-2">
            </div>
          </div>
        </div>
      </div>

      <!-- section tabs -->
      <div class="tp-section">
        <div class="tp-container text-center">
          <div class="tp-flex justify-content-center mb-40">
            <div class="tp-flex__col tp-flex__col-lg-6">
              <h2 class="tp-heading tp-heading--h2 mb-24">Gérez votre voyage d'affaires</h2>
              <p class="tp-heading tp-heading--h4">Que vous soyez le responsable du voyage ou un voyageur, nous vous proposons les solutions dont vous avez besoin pour gérer vos voyages d'affaires.</p>
            </div>
          </div>
        </div>

        <div class="tp-container">
<!--           <div role="tablist" aria-labelledby="tablist-1" class="tp-tabs">
            <button id="tab-1" class="tp-button tp-button--primary-900" role="tab" aria-selected="true" aria-controls="tabpanel-1">Cytric</button>
            <button id="tab-2" class="tp-button tp-button--primary-900 tp-button--text-only" role="tab" aria-selected="false" aria-controls="tabpanel-2" tabindex="-1">Neo by KDS</button>
          </div> -->

          <div class="tp-tabs-content">
           <!--  Ne pas oublier de remettre tabindex="0" ainsi que aria-labelledby="tab-1" si on réactive les tabs -->
            <div id="tabpanel-1" role="tabpanel">
              <div class="tp-flex justify-content-between">
                <div class="tp-flex__col tp-flex__col-md-7">
                  <img src="<%= require('/public/assets/images/travelpro-visual-3.webp') %>" alt="">
                </div>
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-paragraph tp-paragraph--16 mb-24"><b>Cytric</b> L'outil idéal pour planifier efficacement vos voyages d'affaires</p>
                  <ul class="list-icons mb-40">
                    <li>Outil de réservation en ligne pour vols, hôtels, location de voitures et train.</li>
                    <li>Contenu multiple : GDS, NDC, agrégateurs ou fournisseurs directs.</li>
                    <li>Politique de voyage</li>
                    <li>Gestion des dépenses</li>
                    <li>Affichages clairs des émissions de CO2</li>
                  </ul>
                  <a href="request-demo.html" class="tp-button tp-button--primary">Demander une démo</a>
                </div>
              </div>
            </div>
<!--             <div id="tabpanel-2" role="tabpanel" tabindex="0" aria-labelledby="tab-2" class="is-hidden">
              <p>
                Carl Joachim Andersen (29 April 1847 – 7 May 1909) was a Danish flutist, conductor and composer born in Copenhagen, son of the flutist Christian Joachim Andersen.
                Both as a virtuoso and as composer of flute music, he is considered one of the best of his time.
                He was considered to be a tough leader and teacher and demanded as such a lot from his orchestras but through that style he reached a high level.
              </p>
            </div> -->
          </div>
        </div>
      </div>

      <div class="tp-section" style="background-image: url('<%= require('/public/assets/images/travelpro-background-7.webp') %>')">
        <div class="tp-container">
          <div class="tp-flex">
            <div class="tp-flex__col tp-flex__col-md-4">
              <h2 class="tp-heading tp-heading--h2 mb-24">Expérience client</h2>
              <p class="tp-paragraph tp-paragraph--16 mb-24">
                Chez TravelPro, nous comprenons l'importance de voyages d'affaires fluides et efficaces. Avec notre expertise, nous nous occupons de chaque aspect de votre voyage, de la réservation à votre retour chez vous. 
                <strong>Nous simplifions chaque aspect de vos déplacements.</strong>
              </p>
              <a href="contact.html" class="tp-button tp-button--primary">Contactez-nous</a>
            </div>
            <div class="tp-flex__col tp-flex__col-md-8 mt-32 mt-md-0">
              <div class="tp-expand mb-16">
                <div class="tp-number mb-16">
                  <div class="tp-number__number">1</div>
                  <div class="tp-heading tp-heading--h4">Avant</div>
                </div>
                <p class="tp-paragraph tp-paragraph--16">
                  Chez Travel Pro, nos services commencent par l'organisation de votre voyage. Nous proposons
un outil de réservation en ligne ergonomique qui simplifie le processus de réservation... 
                </p>
                <div class="tp-expand__content" id="expand-1" aria-hidden="false">
                  <p class="tp-paragraph tp-paragraph--16">
                    Notre équipe spécialisée personnalise votre itinéraire, en trouvant les meilleures options pour répondre à vos besoins, vos préférences et votre budget.
                  </p>
                </div>
                <button 
                  class="tp-expand__trigger tp-link" 
                  aria-controls="expand-1" 
                  aria-expanded="false" 
                  data-more="Voir plus" 
                  data-less="Voir moins"
                >
                  <span>Voir plus</span> 
                  <i class="icon-chevron-down" aria-hidden="true"></i>
                </button>
              </div>

              <div class="tp-expand mb-16">
                <div class="tp-number mb-16">
                  <div class="tp-number__number">2</div>
                  <div class="tp-heading tp-heading--h4">Pendant</div>
                </div>
                <p class="tp-paragraph tp-paragraph--16">
                  Nous sommes à vos côtés à chaque étape. Du check-in prioritaire à l'accès exclusif au lounge à l'aéroport, nous veillons à une expérience fluide....
                </p>
                <div class="tp-expand__content" id="expand-1" aria-hidden="false">
                  <p class="tp-paragraph tp-paragraph--16">
                    Notre assistance 24h/24 et 7j/7 est disponible par téléphone pour faire face à toute circonstance imprévue, changement ou demande.
                  </p>
                </div>
                <button 
                  class="tp-expand__trigger tp-link" 
                  aria-controls="expand-1" 
                  aria-expanded="false" 
                  data-more="Voir plus" 
                  data-less="Voir moins"
                >
                  <span>Voir plus</span> 
                  <i class="icon-chevron-down" aria-hidden="true"></i>
                </button>
              </div>

              <div class="tp-expand">
                <div class="tp-number mb-16">
                  <div class="tp-number__number">3</div>
                  <div class="tp-heading tp-heading--h4">Après</div>
                </div>
                <p class="tp-paragraph tp-paragraph--16">
                  Nous apprécions connaître votre expérience grâce à votre feedback, ce qui nous permet de l'améliorer continuellement et de l'adapter à vos futures expériences de voyage...
                </p>
                <div class="tp-expand__content" id="expand-1" aria-hidden="false">
                  <p class="tp-paragraph tp-paragraph--16">
                    Nos solutions de gestion des frais simplifient le remboursement et rendent vos voyages plus efficaces et plus rentables.
                  </p>
                </div>
                <button 
                  class="tp-expand__trigger tp-link" 
                  aria-controls="expand-1" 
                  aria-expanded="false" 
                  data-more="Voir plus" 
                  data-less="Voir moins"
                >
                  <span>Voir plus</span> 
                  <i class="icon-chevron-down" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- section tabs -->
      <div class="tp-section">
        <div class="tp-container text-center">
          <div class="tp-flex justify-content-center mb-40">
            <div class="tp-flex__col tp-flex__col-lg-6">
              <h2 class="tp-heading tp-heading--h2 mb-24">Nos services détaillés</h2>
            </div>
          </div>
        </div>

        <div class="tp-container">
          <div role="tablist" aria-labelledby="tablist-1" class="tp-tabs">
            <button id="digital-tools" class="tp-button tp-button--primary-900" role="tab" aria-selected="true" aria-controls="tabpanel-digital-tools">Outils digitaux</button>
            <button id="travel-facilities" class="tp-button tp-button--primary-900 tp-button--text-only" role="tab" aria-selected="false" aria-controls="tabpanel-travel-facilities" tabindex="-1">Facilités de voyage</button>
            <button id="assistance" class="tp-button tp-button--primary-900 tp-button--text-only" role="tab" aria-selected="false" aria-controls="tabpanel-assistance" tabindex="-1">Notification d'alertes de voyage</button>
            <button id="review" class="tp-button tp-button--primary-900 tp-button--text-only" role="tab" aria-selected="false" aria-controls="tabpanel-review" tabindex="-1">Feedback et compensation</button>
          </div>

          <div class="tp-tabs-content">
            <div id="tabpanel-digital-tools" role="tabpanel" tabindex="0" aria-labelledby="digital-tools">
              <div class="tp-flex row-gap-40">
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">Réservation en ligne</p>
                  <p class="tp-paragraph tp-paragraph--16">Profitez de technologies avancées qui simplifient les processus de réservation pour les voyageurs et les responsables des voyages. </p>
                </div>
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">Rapports</p>
                  <p class="tp-paragraph tp-paragraph--16">Accédez à une variété de rapports pour optimiser votre budget de voyage et prendre des décisions éclairées. </p>
                </div>
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">Système de notification d'alertes de voyage</p>
                  <p class="tp-paragraph tp-paragraph--16">Restez informé pendant votre voyage en recevant les dernières informations de voyage. </p>
                </div>
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">Paiement virtuel</p>
                  <p class="tp-paragraph tp-paragraph--16">Choisissez parmi une gamme de solutions de paiement, y compris des méthodes virtuelles pour les réservations d'hôtels ou des options à faible coût. </p>
                </div>
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">Mobile messenger</p>
                  <p class="tp-paragraph tp-paragraph--16">Recevez des informations liées à votre itinéraire directement sur votre appareil mobile. </p>
                </div>
              </div>
            </div>
            
            
            <div id="tabpanel-travel-facilities" role="tabpanel" tabindex="0" aria-labelledby="travel-facilities" class="is-hidden">
              <div class="tp-flex row-gap-40">
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">Transfert dans le monde entier</p>
                  <p class="tp-paragraph tp-paragraph--16">Nous proposons une assistance pour la réservation de transferts depuis votre domicile ou votre hôtel jusqu'à l'aéroport.</p>
                </div>
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">eSIM / SIM</p>
                  <p class="tp-paragraph tp-paragraph--16">Nous proposons une solution mondiale pour réduire vos coûts de communication et de navigation.</p>
                </div>
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">Demande de visa</p>
                  <p class="tp-paragraph tp-paragraph--16">Nous pouvons vous assister dans le cadre de demandes de visa ou de formulaires ESTA.</p>
                </div>
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">Services supplémentaires</p>
                  <p class="tp-paragraph tp-paragraph--16">Nous sommes heureux de vous soutenir avec tout type de services supplémentaires tels que des bagages supplémentaires, des passes pour les lounge.</p>
                </div>
              </div>
            </div>
            <div id="tabpanel-assistance" role="tabpanel" tabindex="0" aria-labelledby="assistance" class="is-hidden">
              <div class="tp-flex row-gap-40">
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">Support 24/7</p>
                  <p class="tp-paragraph tp-paragraph--16">Nous sommes à votre disposition en tout temps, y compris les week-ends et les jours fériés.</p>
                </div>
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">Travel Vitals</p>
                  <p class="tp-paragraph tp-paragraph--16">Outil d'American Express GBT pour surveiller l'évolution des conseils de voyage et des exigences gouvernementales.</p>
                </div>
              </div>
            </div>
            <div id="tabpanel-review" role="tabpanel" tabindex="0" aria-labelledby="review" class="is-hidden">
              <div class="tp-flex row-gap-40">
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">Travel Care</p>
                  <p class="tp-paragraph tp-paragraph--16">Les réclamations et les demandes d'indemnisation sont traitées par notre département dédié.</p>
                </div>
                <div class="tp-flex__col tp-flex__col-md-4">
                  <p class="tp-heading tp-heading--h4 mb-16">Enquête de satisfaction client</p>
                  <p class="tp-paragraph tp-paragraph--16">Des enquêtes régulières auprès de nos clients nous permettent d'améliorer constamment nos services.</p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>

      <!-- testimonials -->
      <div class="tp-section" style="background-image: url('<%= require('/public/assets/images/travelpro-background-3.webp') %>')">
        <div class="tp-slider-overflow-container">
          <div class="tp-slider-overflow-container__content">
            <h2 class="tp-heading tp-heading--h2 mb-md-32 mb-16">Avis et témoignages de clients</h2>
            <p class="tp-paragraph tp-paragraph--16 mb-24">Les solutions ont aidé de nombreux clients à voyager en toute sécurité, facilité et sans stress. Leurs témoignages sont notre source de motivation</p>
          </div>

          <div class="tp-slider-overflow-container__inner">
            <div class="tp-slider-container">
              <div class="tp-swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <!-- Slides -->
                  <div class="swiper-slide">
                    <div class="tp-testimonial-card">
                      <blockquote>
                        <p class="tp-paragraph tp-paragraph--16">“ Travailler avec Travel Pro a été un véritable atout pour nos besoins en voyages d'affaires. Leur attention aux détails, leur efficacité et leur service personnalisé les distinguent vraiment. De l'organisation d'itinéraires complexes à la garantie d'expériences de voyage sans accroc, Travel Pro a constamment dépassé nos attentes. En tant que client B2B basé au Luxembourg, nous recommandons vivement leurs services à d'autres entreprises à la recherche d'un partenaire fiable en gestion des voyages. ”</p>
                        <!--<footer>
                          <p class="tp-heading tp-heading--h4"><strong>John Doe</strong></p>
                          <p class="tp-paragraph tp-paragraph--16">CEO of #Company</p>
                        </footer>-->
                      </blockquote>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="tp-testimonial-card">
                      <blockquote>
                        <p class="tp-paragraph tp-paragraph--16">“ Travel Pro est devenu un atout inestimable pour nos opérations mondiales. La dévotion de leur équipe à fournir des solutions de voyages d'affaires de qualité est évidente à chaque interaction. La commodité et la flexibilité qu'ils offrent rendent nos voyages internationaux sans stress. De la réservation au support en cours de route, Travel Pro est un allié de confiance pour naviguer dans les complexités des voyages d'affaires. Hautement recommandé pour les entreprises avec une envergure internationale ! ”</p>
                        <!--<footer>
                          <p class="tp-heading tp-heading--h4"><strong>John Doe</strong></p>
                          <p class="tp-paragraph tp-paragraph--16">CEO of #Company</p>
                        </footer>-->
                      </blockquote>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="tp-testimonial-card">
                      <blockquote>
                        <p class="tp-paragraph tp-paragraph--16">“ Notre expérience avec Travel Pro a été tout simplement exceptionnelle. En tant que société financière basée au Luxembourg avec une clientèle internationale, la précision et la fiabilité sont primordiales. Travel Pro a constamment répondu à ces attentes, en proposant des solutions sur mesure qui correspondent parfaitement à nos besoins commerciaux. Leur approche proactive et leur engagement envers la satisfaction du client font d'eux le partenaire de voyage idéal pour toute entreprise B2B. ”</p>
                        <!--<footer>
                          <p class="tp-heading tp-heading--h4"><strong>John Doe</strong></p>
                          <p class="tp-paragraph tp-paragraph--16">CEO of #Company</p>
                        </footer>-->
                      </blockquote>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="tp-testimonial-card">
                      <blockquote>
                        <p class="tp-paragraph tp-paragraph--16">“ La collaboration avec Travel Pro a simplifié nos processus de voyages d'affaires et a amélioré notre expérience globale. Leurs solutions technologiques de pointe, associées à une équipe de professionnels dévoués, facilitent la gestion de notre portefeuille de voyages d'entreprise. En tant que société technologique présente à l'échelle mondiale, avoir Travel Pro comme partenaire de gestion de voyages a été une décision stratégique. Leur expertise et leur engagement envers l'excellence en font un choix remarquable pour toute organisation B2B. ”</p>
                        <!--<footer>
                          <p class="tp-heading tp-heading--h4"><strong>John Doe</strong></p>
                          <p class="tp-paragraph tp-paragraph--16">CEO of #Company</p>
                        </footer>-->
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tp-container">
          <div class="swiper-actions">
            <div class="swiper-pagination"></div>

            <div class="swiper-navigation">
              <button class="tp-button tp-button--primary-900 tp-button--outlined tp-button--icon-only swiper-button-prev" aria-label="Previous slide"><i class="icon-arrow-left-long" aria-hidden="true"></i></button>
              <button class="tp-button tp-button--primary-900 tp-button--outlined tp-button--icon-only swiper-button-next" aria-label="Next slide"><i class="icon-arrow-right-long" aria-hidden="true"></i></button></div>
          </div>
        </div>
      </div>

      <!--
      <div class="tp-section">
        <div class="tp-container">
          <div class="tp-flex justify-content-between align-items-center mb-24 mb-md-40">
            <div class="tp-flex__col tp-flex__col-md-6 mb-32 mb-md-0">
              <h2 class="tp-heading tp-heading--h2">Découvrez les dernières actualités</h2>
            </div>
            <div class="tp-flex__col tp-flex__col-md-6 text-md-right">
              <a href="#" class="tp-button tp-button--primary-900 tp-button--outlined">Tous les articles <i class="icon-arrow-right-long" aria-hidden="true"></i></a>
            </div>
          </div>

          <div class="tp-flex row-gap-16">
            <div class="tp-flex__col tp-flex__col-md-6">
              <article class="tp-article-card">
                <a href="#">
                  <div class="tp-article-card__image">
                    <div class="tp-badge tp-badge--primary-100">Tech</div>
                    <img src="<%= require('/public/assets/images/blog/2023-11-21/travelogix-analytix.webp') %>" alt="Analytix">
                    <div class="tp-article-card__blur">
                      <i class="icon-time" aria-hidden="true"></i>
                      <p>Lecture de 3 minutes</p>
                    </div>
                  </div>
                  <div class="tp-article-card__content">
                    <h3 class="tp-heading tp-heading--h4 mb-16">Changez votre vision des données de voyage</h3>
                    <p class="tp-paragraph tp-paragraph--16">
                      Analytix est une puissante solution d'intelligence d'affaires basée sur le cloud qui automatise la consolidation des données provenant de multiples systèmes de back-office et de réservation. Il fournit une source unique de vérité aux responsables des voyages grâce à des rapports immédiats, intuitifs et interactifs, ainsi que des tableaux de bord personnalisables.
                    </p>
                  </div>
                </a>
              </article>
            </div>
            <div class="tp-flex__col tp-flex__col-md-6 d-flex row-gap-16 justify-content-between" style="flex-direction: column;">
              <article class="tp-article-card tp-article-card--horizontal">
                <a href="#">
                  <div class="tp-article-card__image">
                    <img src="<%= require('/public/assets/images/blog/2023-11-21/made-in-luxembourg.webp') %>" alt="Label Made in Luxembourg">
                  </div>
                  <div class="tp-article-card__content">
                    <h3 class="tp-heading tp-heading--h4">Travel Pro S.A. est fier d'annoncer l'obtention du label "Made in Luxembourg".</h3>
                  </div>
                </a>
              </article>
              <article class="tp-article-card tp-article-card--horizontal">
                <a href="#">
                  <div class="tp-article-card__image">
                    <img src="<%= require('/public/assets/images/blog/2023-11-21/new-distribution-capability.webp') %>" alt="NDC Flight">
                  </div>
                  <div class="tp-article-card__content">
                    <h3 class="tp-heading tp-heading--h4">S'ouvrir à l'avenir : NDC dans les voyages d'affaires</h3>
                  </div>
                </a>
              </article>
            </div>
          </div>
        </div>
      </div>
      -->

      <!-- Talk to the travel pro team -->
      <tp-team-banner></tp-team-banner>
    </main>
    <tp-footer></tp-footer>
  </body>
</html>
