<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="Viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">

    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="apple-touch-icon" sizes="180x180" href="<%= require('/public/assets/favicon/apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= require('/public/assets/favicon/favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= require('/public/assets/favicon/favicon-16x16.png') %>">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- GetResponse Analytics -->
    <script type="text/javascript">
      (function(m, o, n, t, e, r, _){
              m['__GetResponseAnalyticsObject'] = e;m[e] = m[e] || function() {(m[e].q = m[e].q || []).push(arguments)};
              r = o.createElement(n);_ = o.getElementsByTagName(n)[0];r.async = 1;r.src = t;r.setAttribute('crossorigin', 'use-credentials');_.parentNode .insertBefore(r, _);
          })(window, document, 'script', 'https://newsletter.slg.lu/script/04309704-bfba-4e18-97d8-c7fc88928bfc/ga.js', 'GrTracking');
    
    
      </script>
    <!-- End GetResponse Analytics -->
  </head>
  <body>
    <a class="tp-skiplink" href="#content">Go to content</a>
    <tp-header active="home"></tp-header>

    <main class="tp-main">
      <div style="position: relative" class="pb-64 pb-sm-96 pt-40 pt-sm-96">
        <img src="<%= require('/public/assets/images/travelpro-background-1.webp') %>" alt="" style="position: absolute;z-index: -1;bottom:0;left: 0;right: 0;margin: auto;object-fit:cover;width: 100%;">
        <div class="tp-container">
          <div class="tp-flex justify-content-between">
            <div class="tp-flex__col tp-flex__col-lg-5 mb-40">
              <h1 class="tp-heading tp-heading--jumbotron color-primary-800 mb-24">Nous personnalisons vos voyages d'affaires</h1>
              <p class="tp-heading tp-heading--h4 color-primary-950">En tant que membre du réseau de partenaires de voyage d'American Express Global Business Travel, nos spécialistes gèreront votre voyage d'affaires et vous accompagneront à toutes les étapes de votre voyage (avant, pendant et après).</p>
            </div>
            <div class="tp-flex__col tp-flex__col-lg-6">
              <img src="<%= require('/public/assets/images/travelpro-visual-1.webp') %>" alt="">
            </div>
          </div>

          <div class="tp-highlight mt-24 mt-sm-88" style="background-image: url('<%= require('/public/assets/images/travelpro-background-2.webp') %>')">
            <div class="tp-highlight__left">
              <h2 class="tp-heading tp-heading--h3 mb-16 color-white">Êtes-vous intéressé de voir comment fonctionne Travel Pro et les outils qu’ils utilisent ?</h2>
              <p class="tp-paragraph tp-paragraph--16 color-white">Découvrez avec une démo personnalisée</p>
            </div>
            <div class="tp-highlight__right">
              <a href="request-demo.html" class="tp-button tp-button--primary">Demander une démo</a>
            </div>
          </div>
        </div>
      </div>

      <div style="position: relative" class="tp-section">
        <img src="<%= require('/public/assets/images/travelpro-background-1.webp') %>" alt="" style="position: absolute;z-index: -1;bottom:0;left: 0;right: 0;margin: auto;object-fit:cover;width: 100%;">
        <div class="tp-container">
          <div class="tp-flex">
            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-md-7">
              <h2 class="tp-heading tp-heading--h2 mb-md-40 mb-16">Solutions de voyage intégrées pour la réussite de votre société</h2>
            </div>
          </div>
          <div class="tp-flex justify-content-between">
            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-md-7">
              <img src="<%= require('/public/assets/images/travelpro-visual-2.webp') %>" alt="" class="br-16">
            </div>
            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-md-4 mt-24 mt-md-0">
              <p class="tp-paragraph tp-paragraph--16 mb-24">Travel Pro propose des services personnalisés et adaptés pour répondre aux besoins et à la taille de votre société.</p>
              <ul class="list-icons mb-40">
                <li>Conseillers de voyage dédiés</li>
                <li>Outil de réservation en ligne</li>
                <li>Outil de gestion de profil</li>
                <li>Services spéciaux sur demande</li>
              </ul>
              <a href="business-travel.html" class="tp-button tp-button--primary-900 tp-button--outlined">Voir tous les services <i class="icon-arrow-right-long" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="tp-flex justify-content-end" style="margin-bottom: -29rem;">
            <div class="tp-flex__col tp-flex__col-11 tp-flex__col-md-8">
              <div class="tp-card-service-name mt-64" style="background-image: url('<%= require('/public/assets/images/travelpro-background-2.webp') %>')">
                <span class="tp-card-service-name__button tp-button tp-button--primary-950 tp-button--lg tp-button--icon-only"><i class="icon-plus" aria-hidden="true"></i></span>
                <div class="tp-badge tp-badge--primary-100 mb-16">Outil numérique</div>
                <p class="tp-heading tp-heading--h2 mb-16 color-white">Outil de réservation en ligne</p>
                <p class="tp-paragraph tp-paragraph--16 color-white mb-24">Gérez tous les voyages de votre entreprise au même endroit et bénéficiez d'une visibilité complète sur les dépenses.</p>
                <a href="request-demo.html" class="tp-button tp-button--primary tp-button--outlined">Plus d'informations <i class="icon-arrow-right-long" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tp-section" style="margin-top: 21rem;">
        <div class="tp-container">
          <div class="tp-flex">
            <div class="tp-flex__col tp-flex__col-1 d-lg"></div>
            <div class="tp-flex__col tp-flex__col-md-4">
              <h2 class="tp-heading tp-heading--h2 mb-md-40 mb-16">Qui nous sommes</h2>
              <p class="tp-paragraph tp-paragraph--16 mb-24">Travel Pro est la plus grande entreprise de gestion de voyages au Luxembourg, fournissant des technologies et des services pour personnaliser vos déplacements professionnels.</p>
              <p class="tp-paragraph tp-paragraph--16 mb-24">Travel Pro propose des solutions de voyages d'affaires sur mesure depuis 1993. Aujourd'hui, nous faisons partie de SLG, avec qui nous partageons les mêmes valeurs, objectifs et vision.</p>
              <a href="about-us.html" class="tp-button tp-button--primary-900 tp-button--outlined">Plus d'informations <i class="icon-arrow-right-long" aria-hidden="true"></i></a>
            </div>
            <div class="tp-flex__col tp-flex__col-1 d-md"></div>
            <div class="tp-flex__col tp-flex__col-md-6 mt-40">
              <div class="tp-illu-1">
                <img src="<%= require('/public/assets/images/illustrations/travelpro-illustration-1.svg') %>" alt="">
                <div class="bg-primary-50 br-16 pa-24">
                  <p class="tp-paragraph tp-paragraph--16 mb-24">Notre groupe propose des opportunités d'emploi attrayantes.</p>
                  <a href="https://www.slg.lu/career/" class="tp-link">Rejoignez l'équipe de Travel Pro <i class="icon-arrow-up-right-from-square" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- testimonials -->
      <div class="tp-section" style="background-image: url('<%= require('/public/assets/images/travelpro-background-3.webp') %>')">
        <div class="tp-slider-overflow-container">
          <div class="tp-slider-overflow-container__content">
            <h2 class="tp-heading tp-heading--h2 mb-md-32 mb-16">Expériences des clients avec Travel Pro</h2>
            <p class="tp-paragraph tp-paragraph--16 mb-24">Nos solutions ont aidé de nombreux clients à voyager en toute sécurité, facilité et sans stress. Leurs témoignages positifs sont notre moteur.</p>
          </div>

          <div class="tp-slider-overflow-container__inner">
            <div class="tp-slider-container">
              <div class="tp-swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <!-- Slides -->
                  <div class="swiper-slide">
                    <div class="tp-testimonial-card">
                      <blockquote>
                        <p class="tp-paragraph tp-paragraph--16">“ Travailler avec Travel Pro a été un véritable atout pour nos besoins en voyages d'affaires. Leur attention aux détails, leur efficacité et leur service personnalisé les distinguent vraiment. De l'organisation d'itinéraires complexes à la garantie d'expériences de voyage sans accroc, Travel Pro a constamment dépassé nos attentes. En tant que client B2B basé au Luxembourg, nous recommandons vivement leurs services à d'autres entreprises à la recherche d'un partenaire fiable en gestion des voyages. ”</p>
                        <footer>
                          <p class="tp-heading tp-heading--h4"><strong>John Doe</strong></p>
                          <p class="tp-paragraph tp-paragraph--16">CEO of #Company</p>
                        </footer>
                      </blockquote>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="tp-testimonial-card">
                      <blockquote>
                        <p class="tp-paragraph tp-paragraph--16">“ Travel Pro est devenu un atout inestimable pour nos opérations mondiales. La dévotion de leur équipe à fournir des solutions de voyages d'affaires de qualité est évidente à chaque interaction. La commodité et la flexibilité qu'ils offrent rendent nos voyages internationaux sans stress. De la réservation au support en cours de route, Travel Pro est un allié de confiance pour naviguer dans les complexités des voyages d'affaires. Hautement recommandé pour les entreprises avec une envergure internationale ! ”</p>
                        <footer>
                          <p class="tp-heading tp-heading--h4"><strong>John Doe</strong></p>
                          <p class="tp-paragraph tp-paragraph--16">CEO of #Company</p>
                        </footer>
                      </blockquote>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="tp-testimonial-card">
                      <blockquote>
                        <p class="tp-paragraph tp-paragraph--16">“ Notre expérience avec Travel Pro a été tout simplement exceptionnelle. En tant que société financière basée au Luxembourg avec une clientèle internationale, la précision et la fiabilité sont primordiales. Travel Pro a constamment répondu à ces attentes, en proposant des solutions sur mesure qui correspondent parfaitement à nos besoins commerciaux. Leur approche proactive et leur engagement envers la satisfaction du client font d'eux le partenaire de voyage idéal pour toute entreprise B2B. ”</p>
                        <footer>
                          <p class="tp-heading tp-heading--h4"><strong>John Doe</strong></p>
                          <p class="tp-paragraph tp-paragraph--16">CEO of #Company</p>
                        </footer>
                      </blockquote>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="tp-testimonial-card">
                      <blockquote>
                        <p class="tp-paragraph tp-paragraph--16">“ La collaboration avec Travel Pro a simplifié nos processus de voyages d'affaires et a amélioré notre expérience globale. Leurs solutions technologiques de pointe, associées à une équipe de professionnels dévoués, facilitent la gestion de notre portefeuille de voyages d'entreprise. En tant que société technologique présente à l'échelle mondiale, avoir Travel Pro comme partenaire de gestion de voyages a été une décision stratégique. Leur expertise et leur engagement envers l'excellence en font un choix remarquable pour toute organisation B2B. ”</p>
                        <footer>
                          <p class="tp-heading tp-heading--h4"><strong>John Doe</strong></p>
                          <p class="tp-paragraph tp-paragraph--16">CEO of #Company</p>
                        </footer>
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tp-container">
          <div class="swiper-actions">
            <div class="swiper-pagination"></div>

            <div class="swiper-navigation">
              <button class="tp-button tp-button--primary-900 tp-button--outlined tp-button--icon-only swiper-button-prev" aria-label="Previous slide"><i class="icon-arrow-left-long" aria-hidden="true"></i></button>
              <button class="tp-button tp-button--primary-900 tp-button--outlined tp-button--icon-only swiper-button-next" aria-label="Next slide"><i class="icon-arrow-right-long" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
      
      <!--
      <div class="tp-section pb-0">
        <div class="tp-container">
          <div class="tp-flex justify-content-between align-items-center mb-24 mb-md-40">
            <div class="tp-flex__col tp-flex__col-md-6 mb-32 mb-md-0">
              <h2 class="tp-heading tp-heading--h2">Découvrez les dernières actualités</h2>
            </div>
            <div class="tp-flex__col tp-flex__col-md-6 text-md-right">
              <a href="blog.html" class="tp-button tp-button--primary-900 tp-button--outlined">Tous les articles <i class="icon-arrow-right-long" aria-hidden="true"></i></a>
            </div>
          </div>

          <div class="tp-flex row-gap-16">
            <div class="tp-flex__col tp-flex__col-md-6">
              <article class="tp-article-card">
                <a href="#">
                  <div class="tp-article-card__image">
                    <div class="tp-badge tp-badge--primary-100">Tech</div>
                    <img src="<%= require('/public/assets/images/blog/2023-11-21/travelogix-analytix.webp') %>" alt="">
                    <div class="tp-article-card__blur">
                      <i class="icon-time" aria-hidden="true"></i>
                      <p>Lecture de 3 minutes</p>
                    </div>
                  </div>
                  <div class="tp-article-card__content">
                    <h3 class="tp-heading tp-heading--h4 mb-16">Changez votre perspective sur les données de voyage.</h3>
                    <p class="tp-paragraph tp-paragraph--16">
                      Analytix is a powerful cloud-based, business intelligence solution, that automates the consolidation of data from multiple back office and booking systems. It provides a single source of truth to Travel Managers alike, via immediate, intuitive and interactive reports and customisable dashboards.
                    </p>
                  </div>
                </a>
              </article>
            </div>
            <div class="tp-flex__col tp-flex__col-md-6 d-flex row-gap-16 justify-content-between" style="flex-direction: column;">
              <article class="tp-article-card tp-article-card--horizontal">
                <a href="#">
                  <div class="tp-article-card__image">
                    <img src="<%= require('/public/assets/images/blog/2023-11-21/made-in-luxembourg.webp') %>" alt="">
                  </div>
                  <div class="tp-article-card__content">
                    <h3 class="tp-heading tp-heading--h4">Travel Pro S.A. est fier d'annoncer l'obtention du label "Made in Luxembourg".</h3>
                  </div>
                </a>
              </article>
              <article class="tp-article-card tp-article-card--horizontal">
                <a href="#">
                  <div class="tp-article-card__image">
                    <img src="<%= require('/public/assets/images/blog/2023-11-21/new-distribution-capability.webp') %>" alt="">
                  </div>
                  <div class="tp-article-card__content">
                    <h3 class="tp-heading tp-heading--h4">Adopter l'avenir : NDC dans les voyages d'affaires.</h3>
                  </div>
                </a>
              </article>
            </div>
          </div>
        </div>
      </div>
      -->

      <tp-newsletter></tp-newsletter>

      <!-- suppliers -->
      <div class="tp-section bg-primary-50" style="border-top: 1px solid var(--primary-50)">
        <div class="tp-container">
          <h2 class="tp-heading tp-heading--h2 mb-md-24 mb-16">Les fournisseurs de Travel Pro</h2>
        </div>
        <div class="tp-slider-overflow-container">
          <div class="tp-slider-overflow-container__content">
            
            <p class="tp-paragraph tp-paragraph--16 mb-24">Plus de 400 compagnies aériennes travaillent avec nous de manière efficace et transparente.</p>
          </div>

          <div class="tp-slider-overflow-container__inner">
            <div class="tp-slider-container">
              <div class="tp-automatic-swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="<%= require('/public/assets/images/partners/aegean-A3.svg') %>" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="<%= require('/public/assets/images/partners/aeromexico-AM.svg') %>" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="<%= require('/public/assets/images/partners/air-dolomity-EN.svg') %>" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="<%= require('/public/assets/images/partners/air-france-AF.svg') %>" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="<%= require('/public/assets/images/partners/american-airlines-AA.svg') %>" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="<%= require('/public/assets/images/partners/avianca-AV.svg') %>" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="<%= require('/public/assets/images/partners/british-airways-BA.svg') %>" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="<%= require('/public/assets/images/partners/brussels-airlines-SN.svg') %>" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="<%= require('/public/assets/images/partners/cathay-pacific-CX.svg') %>" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="<%= require('/public/assets/images/partners/copa-airlines-CM.svg') %>" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="<%= require('/public/assets/images/partners/delta-DL.svg') %>" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="<%= require('/public/assets/images/partners/emirates-EK.svg') %>" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="<%= require('/public/assets/images/partners/eurowings-discover-4Y.svg') %>" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="<%= require('/public/assets/images/partners/hawaiian-airlines-HA.svg') %>" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="<%= require('/public/assets/images/partners/iberia-IB.svg') %>" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="<%= require('/public/assets/images/partners/jetstar-JQ.svg') %>" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="<%= require('/public/assets/images/partners/klm-KL.svg') %>" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="<%= require('/public/assets/images/partners/level-VK.svg') %>" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="<%= require('/public/assets/images/partners/lot-LOx.svg') %>" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="<%= require('/public/assets/images/partners/lufthansa-LH.svg') %>" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="<%= require('/public/assets/images/partners/olympic-airlines-OA.svg') %>" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="<%= require('/public/assets/images/partners/qantas-QF.svg') %>" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="<%= require('/public/assets/images/partners/qatar-QR.svg') %>" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="<%= require('/public/assets/images/partners/ryanair-FR.svg') %>" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="<%= require('/public/assets/images/partners/singapore-airlines-SQ.svg') %>" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="<%= require('/public/assets/images/partners/swiss-LX.svg') %>" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="<%= require('/public/assets/images/partners/turkish-airlines-TK.svg') %>" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="<%= require('/public/assets/images/partners/united-UA.svg') %>" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="<%= require('/public/assets/images/partners/vueling-VY.svg') %>" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="<%= require('/public/assets/images/partners/westjet-WS.svg') %>" alt="">
                  </div>
                </div>
              </div>
            </div>
            <!--NOT WORKING TO BE FIXED
            <button 
              class="tp-button tp-button--primary-900 tp-button--text-only mt-56" 
              id="toggle-ally-animation"
              data-start-text="Start motion"
              data-start-icon="icon-circle-play"
              data-pause-text="Pause motion"
              data-pause-icon="icon-circle-pause"
            >
              <i class="icon-circle-pause" aria-hidden="true"></i> 
              Pause motion
            </button>
            -->
          </div>
        </div>
      </div>

      <!-- Talk to the travel pro team -->
      <tp-team-banner></tp-team-banner>
    </main>

    <tp-footer></tp-footer>
  </body>
</html>
