<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="Viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">

    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <!-- GetResponse Analytics -->
    <script type="text/javascript">
      (function(m, o, n, t, e, r, _){
              m['__GetResponseAnalyticsObject'] = e;m[e] = m[e] || function() {(m[e].q = m[e].q || []).push(arguments)};
              r = o.createElement(n);_ = o.getElementsByTagName(n)[0];r.async = 1;r.src = t;r.setAttribute('crossorigin', 'use-credentials');_.parentNode .insertBefore(r, _);
          })(window, document, 'script', 'https://newsletter.slg.lu/script/04309704-bfba-4e18-97d8-c7fc88928bfc/ga.js', 'GrTracking');
    
    
      </script>
    <!-- End GetResponse Analytics -->
  </head>
  <body>
    <a class="tp-skiplink" href="#content">Go to content</a>
    
    <tp-header active="request-demo"></tp-header>

    <main class="tp-main">

      <div class="tp-section-full">
        <div class="tp-section-full__left" style="background-image: url('<%= require('/public/assets/images/travelpro-background-13.webp') %>')">
          <h1 class="tp-heading tp-heading--h1 mb-40">Demander une démo personnalisée</h1>
          <p class="tp-heading tp-heading--h3 mb-16">
            <strong>Découvrez comment vous pouvez transformer la façon dont vous gérez vos voyages d’affaires.</strong>
          </p>
          <p class="tp-paragraph tp-paragraph--16">
            La démonstration est un entretien personnel avec le responsable commercial de Travel Pro, qui dure environ 30 minutes. Vous pouvez discuter de votre projet et adapter la démo à vos besoins et attentes.
          </p>
          <img src="<%= require('/public/assets/images/travelpro-visual-5.webp') %>" alt="" class="mt-40">
        </div>

        <div class="tp-section-full__right"> 
          <div class="pa-48">
            <getresponse-form form-id="2988d543-5bf4-4cc8-a71e-fe073c4ed457" e="0"></getresponse-form>
          </div>
        </div>
      </div>
    </main>

    <tp-footer></tp-footer>
  </body>
</html>
