<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="Viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">

    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="apple-touch-icon" sizes="180x180" href="<%= require('/public/assets/favicon/apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= require('/public/assets/favicon/favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= require('/public/assets/favicon/favicon-16x16.png') %>">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- GetResponse Analytics -->
    <script type="text/javascript">
      (function(m, o, n, t, e, r, _){
              m['__GetResponseAnalyticsObject'] = e;m[e] = m[e] || function() {(m[e].q = m[e].q || []).push(arguments)};
              r = o.createElement(n);_ = o.getElementsByTagName(n)[0];r.async = 1;r.src = t;r.setAttribute('crossorigin', 'use-credentials');_.parentNode .insertBefore(r, _);
          })(window, document, 'script', 'https://newsletter.slg.lu/script/04309704-bfba-4e18-97d8-c7fc88928bfc/ga.js', 'GrTracking');
    
    
      </script>
    <!-- End GetResponse Analytics -->
  </head>
  <body>
    <a class="tp-skiplink" href="#content">Go to content</a>
    
    <tp-header-en active="about-us"></tp-header-en>

    <main class="tp-main">
      <div class="tp-section" style="background-image: url('<%= require('/public/assets/images/travelpro-background-6.webp') %>')">
        <div class="tp-container">
          <div class="tp-flex mb-32 mb-md-56">
            <div class="tp-flex__col tp-flex__col-md-7">
              <h1 class="tp-heading tp-heading--h1 mb-32 mb-md-40">Who we are</h1>
              <p class="tp-heading tp-heading--h3">Travel Pro is the largest Travel Management Company in Luxembourg.</p>
            </div>
          </div>
          <div class="tp-flex row-gap-32">
            <div class="tp-flex__col tp-flex__col-6 tp-flex__col-sm-3 weight-600">
              <img src="<%= require('/public/assets/images/travelpro-rocket.svg') %>" alt="" class="mb-8">
              <p class="tp-paragraph tp-paragraph--16">Specialised in Business travel since 1993</p>
            </div>
            <div class="tp-flex__col tp-flex__col-6 tp-flex__col-sm-3 weight-600">
              <img src="<%= require('/public/assets/images/travelpro-earth.svg') %>" alt="" class="mb-8">
              <p class="tp-paragraph tp-paragraph--16">Serving over 450 local & international companies</p>
            </div>
            <div class="tp-flex__col tp-flex__col-6 tp-flex__col-sm-3 weight-600">
              <img src="<%= require('/public/assets/images/travelpro-prize.svg') %>" alt="" class="mb-8">
              <p class="tp-paragraph tp-paragraph--16">Experienced Senior Travel Consultants</p>
            </div>
            <div class="tp-flex__col tp-flex__col-6 tp-flex__col-sm-3 weight-600">
              <img src="<%= require('/public/assets/images/travelpro-dialog.svg') %>" alt="" class="mb-8">
              <p class="tp-paragraph tp-paragraph--16">Multilingual team En, lb, fr, de, pt, it</p>
            </div>
          </div>
        </div>
      </div>

      <div class="tp-section">
        <div class="tp-container">
          <h2 class="tp-heading tp-heading--h2 mb-32">We work in partnership</h2>
          <div class="tp-flex row-gap-32">
            <div class="tp-flex__col tp-flex__col-sm-6 d-flex">
              <div class="pa-32 bg-primary-50 br-16">
                <img src="<%= require('/public/assets/images/logos/travelpro-logo-header.svg') %>" alt="" class="mb-32">
                <p class="tp-paragraph tp-paragraph--16 weight-600 mb-32">Travel Pro is a proud member of the American Express Global Business Travel’s travel partner network since 2014.</p>
                <a href="#" class="tp-link">More information <i class="icon-arrow-up-right-from-square" aria-hidden="true"></i></a>
              </div>
            </div>
            <div class="tp-flex__col tp-flex__col-sm-6">
              <div class="pa-32 bg-primary-50 br-16">
                <img src="<%= require('/public/assets/images/travelpro-part-of-slg-2.svg') %>" alt="" class="mb-32">
                <p class="tp-paragraph tp-paragraph--16 weight-600 mb-32">Travel Pro has been part of the family-run SLG group founded in 1948. The group is one of the market leaders in the mobility and travel sectors in Luxembourg and the Greater Region.
                </p>
                <a href="#" class="tp-link">More information <i class="icon-arrow-up-right-from-square" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tp-section">
        <div class="tp-container">
          <h2 class="tp-heading tp-heading--h2 mb-32 text-center">Values</h2>
          <div class="tp-flex justify-content-center">
            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-sm-8">
              <p class="tp-heading tp-heading--h3 text-center weight-500">
                Travel Pro's corporate values are based on the values of our parent company SLG. They form the foundation of our actions and represent what is important to us and what drives us in everything we do.
              </p>
            </div>
          </div>

          <div class="tp-flex mt-40 row-gap-sm-40">
            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-sm-4">
              <div class="tp-expand-2">
                <div class="tp-expand-2__trigger" aria-expanded="false"> 
                  <i class="icon-circle-check color-primary-700 font-size-26" aria-hidden="true"></i>
                  <h3 class="tp-heading tp-heading--h3">Employees</h3>
                  <i class="icon-chevron-down color-neutral-700 tp-expand-2__arrow" aria-hidden="true"></i>
                </div>
                <div class="tp-expand-2__content">
                  <div class="tp-expand-2__spacer">&nbsp;</div>
                  <p class="tp-paragraph tp-paragraph--16">We support our employees by advocating absolute equality. We reject any form of discrimination based on gender, origin, religion, age or sexual orientation.</p>
                </div>
              </div>
            </div>
            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-sm-4">
              <div class="tp-expand-2">
                <div class="tp-expand-2__trigger" aria-expanded="false"> 
                  <i class="icon-circle-check color-primary-700 font-size-26" aria-hidden="true"></i>
                  <h3 class="tp-heading tp-heading--h3">Data protection & compliance commitment</h3>
                  <i class="icon-chevron-down color-neutral-700 tp-expand-2__arrow" aria-hidden="true"></i>
                </div>
                <div class="tp-expand-2__content">
                  <div class="tp-expand-2__spacer">&nbsp;</div>
                  <p class="tp-paragraph tp-paragraph--16">
                    Transparency, data security, personal rights, data retention, training and awareness-raising on these topics as well as close cooperation with the authorities are of great importance to us.
                  </p>
                </div>
              </div>
            </div>
            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-sm-4">
              <div class="tp-expand-2">
                <div class="tp-expand-2__trigger" aria-expanded="false"> 
                  <i class="icon-circle-check color-primary-700 font-size-26" aria-hidden="true"></i>
                  <h3 class="tp-heading tp-heading--h3">Health and safety</h3>
                  <i class="icon-chevron-down color-neutral-700 tp-expand-2__arrow" aria-hidden="true"></i>
                </div>
                <div class="tp-expand-2__content">
                  <div class="tp-expand-2__spacer">&nbsp;</div>
                  <p class="tp-paragraph tp-paragraph--16">
                    The health of our employees and the safety of our customers are always our top priority.
                  </p>
                </div>
              </div>
            </div>

            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-sm-4">
              <div class="tp-expand-2">
                <div class="tp-expand-2__trigger" aria-expanded="false"> 
                  <i class="icon-circle-check color-primary-700 font-size-26" aria-hidden="true"></i>
                  <h3 class="tp-heading tp-heading--h3">Innovation</h3>
                  <i class="icon-chevron-down color-neutral-700 tp-expand-2__arrow" aria-hidden="true"></i>
                </div>
                <div class="tp-expand-2__content">
                  <div class="tp-expand-2__spacer">&nbsp;</div>
                  <p class="tp-paragraph tp-paragraph--16">Our goal is to make travel booking and travel journeys easier for our clients. We always strive to offer innovative solutions and services and try to be at the forefront of technology in our industry.</p>
                </div>
              </div>
            </div>
            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-sm-4">
              <div class="tp-expand-2">
                <div class="tp-expand-2__trigger" aria-expanded="false"> 
                  <i class="icon-circle-check color-primary-700 font-size-26" aria-hidden="true"></i>
                  <h3 class="tp-heading tp-heading--h3">Supplier partnership</h3>
                  <i class="icon-chevron-down color-neutral-700 tp-expand-2__arrow" aria-hidden="true"></i>
                </div>
                <div class="tp-expand-2__content">
                  <div class="tp-expand-2__spacer">&nbsp;</div>
                  <p class="tp-paragraph tp-paragraph--16">
                    Travel Pro treats its suppliers as important allies. We select them according to quality criteria and give preference to those who have a similar corporate culture to ours.
                  </p>
                </div>
              </div>
            </div>
            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-sm-4">
              <div class="tp-expand-2">
                <div class="tp-expand-2__trigger" aria-expanded="false"> 
                  <i class="icon-circle-check color-primary-700 font-size-26" aria-hidden="true"></i>
                  <h3 class="tp-heading tp-heading--h3">Our approach to competition</h3>
                  <i class="icon-chevron-down color-neutral-700 tp-expand-2__arrow" aria-hidden="true"></i>
                </div>
                <div class="tp-expand-2__content">
                  <div class="tp-expand-2__spacer">&nbsp;</div>
                  <p class="tp-paragraph tp-paragraph--16">
                    We respect the property of our market participants and reject any illegal appropriation of business information as well as any questionable actions for competitive advantage.
                  </p>
                </div>
              </div>
            </div>

            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-sm-4">
              <div class="tp-expand-2">
                <div class="tp-expand-2__trigger" aria-expanded="false"> 
                  <i class="icon-circle-check color-primary-700 font-size-26" aria-hidden="true"></i>
                  <h3 class="tp-heading tp-heading--h3">Environmental responsibility</h3>
                  <i class="icon-chevron-down color-neutral-700 tp-expand-2__arrow" aria-hidden="true"></i>
                </div>
                <div class="tp-expand-2__content">
                  <div class="tp-expand-2__spacer">&nbsp;</div>
                  <p class="tp-paragraph tp-paragraph--16">At Travel Pro, we are committed to reducing our environmental footprint as much as possible. We prioritize sustainability in all our business processes and strive to partner with like-minded companies who share our ambitions. Together, we can work towards a more environmentally responsible travel industry. </p>
                </div>
              </div>
            </div>
            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-sm-4">
              <div class="tp-expand-2">
                <div class="tp-expand-2__trigger" aria-expanded="false"> 
                  <i class="icon-circle-check color-primary-700 font-size-26" aria-hidden="true"></i>
                  <h3 class="tp-heading tp-heading--h3">Social commitment</h3>
                  <i class="icon-chevron-down color-neutral-700 tp-expand-2__arrow" aria-hidden="true"></i>
                </div>
                <div class="tp-expand-2__content">
                  <div class="tp-expand-2__spacer">&nbsp;</div>
                  <p class="tp-paragraph tp-paragraph--16">
                    As an employer committed to social responsibility, we recognize our responsibility to integrate and secure jobs within our organization. Additionally, we are dedicated to actively promoting more responsible, sustainable, and respectful tourism. 
                  </p>
                </div>
              </div>
            </div>
            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-sm-4">
              <div class="tp-expand-2">
                <div class="tp-expand-2__trigger" aria-expanded="false"> 
                  <i class="icon-circle-check color-primary-700 font-size-26" aria-hidden="true"></i>
                  <h3 class="tp-heading tp-heading--h3">Corporate governance</h3>
                  <i class="icon-chevron-down color-neutral-700 tp-expand-2__arrow" aria-hidden="true"></i>
                </div>
                <div class="tp-expand-2__content">
                  <div class="tp-expand-2__spacer">&nbsp;</div>
                  <p class="tp-paragraph tp-paragraph--16">
                    We are part of a trusted group of companies that values stable, long-term management. The management's actions are based on professionalism, responsiveness, and efficiency. SLG's goal is to find innovative solutions that make customers' lives easier, at Travel Pro we strive to do the same.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- team -->
      <div class="tp-section pb-0" style="background-image: url('<%= require('/public/assets/images/travelpro-background-7.webp') %>');">
        <div class="tp-slider-overflow-container">
          <div class="tp-slider-overflow-container__content">
            <h2 class="tp-heading tp-heading--h2 mb-md-24 mb-16">Our team</h2>
            <p class="tp-paragraph tp-paragraph--16 mb-24">Travel Pro is driven by a management team based in Luxembourg that is relentlessy committed to our future-oriented goals. </p>
          </div>

          <div class="tp-slider-overflow-container__inner">
            <div class="tp-slider-container">
              <div class="tp-swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <!-- Slides -->
                  <div class="swiper-slide">
                    <div class="tp-team-card">
                      <div class="tp-team-card__visual"><img src="<%= require('/public/assets/images/team/gianni-pietrangelo.webp') %>" alt="Gianni Pietrangelo"></div>
                      <div class="tp-team-card__content">
                        <p class="tp-heading tp-heading--h4"><strong>Gianni Pietrangelo</strong></p>
                        <p class="tp-paragraph tp-paragraph--16">CEO</p>
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="tp-team-card">
                      <div class="tp-team-card__visual"><img src="<%= require('/public/assets/images/team/joelle-weber.webp') %>" alt="Joelle Weber"></div>
                      <div class="tp-team-card__content">
                        <p class="tp-heading tp-heading--h4"><strong>Joëlle Weber</strong></p>
                        <p class="tp-paragraph tp-paragraph--16">COO</p>
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="tp-team-card">
                      <div class="tp-team-card__visual"><img src="<%= require('/public/assets/images/team/mirko-persuric.webp') %>" alt="Mirko Persuric"></div>
                      <div class="tp-team-card__content">
                        <p class="tp-heading tp-heading--h4"><strong>Mirko Persuric</strong></p>
                        <p class="tp-paragraph tp-paragraph--16">Head of Sales</p>
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="tp-team-card">
                      <div class="tp-team-card__visual"><img src="<%= require('/public/assets/images/team/tamara-gadzimski.webp') %>" alt="Tamara Gadzimski"></div>
                      <div class="tp-team-card__content">
                        <p class="tp-heading tp-heading--h4"><strong>Tamara GADZIMSKI</strong></p>
                        <p class="tp-paragraph tp-paragraph--16">Lean Manager</p>
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="tp-team-card">
                      <div class="tp-team-card__visual"><img src="<%= require('/public/assets/images/team/markus-meyers.webp') %>" alt="Markus Meyers"></div>
                      <div class="tp-team-card__content">
                        <p class="tp-heading tp-heading--h4"><strong>Markus Meyers</strong></p>
                        <p class="tp-paragraph tp-paragraph--16">Head of Account Management</p>
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="tp-team-card">
                      <div class="tp-team-card__visual"><img src="<%= require('/public/assets/images/team/alexandra-clemens.webp') %>" alt="Alexandra Clemens"></div>
                      <div class="tp-team-card__content">
                        <p class="tp-heading tp-heading--h4"><strong>Alexandra Clemens</strong></p>
                        <p class="tp-paragraph tp-paragraph--16">Lifestyle Manager</p>
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="tp-team-card">
                      <div class="tp-team-card__visual"><img src="<%= require('/public/assets/images/team/grete-saksakulm.webp') %>" alt="Grete Saksakulm"></div>
                      <div class="tp-team-card__content">
                        <p class="tp-heading tp-heading--h4"><strong>Grete Saksakulm</strong></p>
                        <p class="tp-paragraph tp-paragraph--16">Personal Assistant & Office Management</p>
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="tp-team-card">
                      <div class="tp-team-card__visual"><img src="<%= require('/public/assets/images/team/sonia-el-hassouni.webp') %>" alt="Sonia El Hassouni"></div>
                      <div class="tp-team-card__content">
                        <p class="tp-heading tp-heading--h4"><strong>Sonia El Hassouni</strong></p>
                        <p class="tp-paragraph tp-paragraph--16">M.I.C.E. Manager</p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tp-container">
          <div class="swiper-actions">
            <div class="swiper-pagination"></div>

            <div class="swiper-navigation">
              <button class="tp-button tp-button--primary-900 tp-button--outlined tp-button--icon-only swiper-button-prev" aria-label="Previous slide"><i class="icon-arrow-left-long" aria-hidden="true"></i></button>
              <button class="tp-button tp-button--primary-900 tp-button--outlined tp-button--icon-only swiper-button-next" aria-label="Next slide"><i class="icon-arrow-right-long" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>

        <div class="tp-container mt-56 mt-sm-24">
          <div class="tp-flex align-items-center">
            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-sm-7">
              <p class="tp-paragraph tp-paragraph--16">
                Behind our management team are 20 dedicated business travel agents, each with at least 10 years of industry experience.
              </p>
            </div>
            <div class="tp-flex__col tp-flex__col-12 tp-flex__col-sm-5 mt-24 mt-sm-0">
              <img src="<%= require('/public/assets/images/illustrations/travelpro-illustration-4.svg') %>" alt="" style="display:block;">
            </div>
          </div>
        </div>
      </div>

      <div class="tp-section">
        <div class="tp-container">
          <h2 class="tp-heading tp-heading--h3 mb-16">Why work at Travel Pro ?</h2>
          <div class="tp-flex">
            <div class="tp-flex__col tp-flex__col-sm-8">
              <p class="tp-paragraph tp-paragraph--16">
                Travel Pro offers attractive job opportunities. We believe in the potential of our employees and encourage their professional development. We want them to experience exciting moments every day.
              </p>
            </div>
            <div class="tp-flex__col tp-flex__col-sm-4 mt-16">
              <a href="https://www.slg.lu/en/career/" target="_blank" class="tp-button tp-button--outlined tp-button--primary-900">Job opportunities <i class="icon-arrow-up-right-from-square" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>

      <tp-newsletter></tp-newsletter>

      <!-- Talk to the travel pro team -->
      <tp-team-banner></tp-team-banner>
    </main>
    
    <tp-footer-en></tp-footer-en>
  </body>
</html>
