<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="Viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://travel-pro.lu/" />
    <meta property="og:title" content="Travel Pro Blog: Insights and Trends in Business Travel Industry" />
    <meta property="og:description" content="Dive into the Travel Pro blog for the latest information, trends, and reports in the business travel industry. Get valuable tips for travelers and stay updated with our expert insights and advice." />
    <meta property="og:image" content="https://travel-pro.lu/travelpro-meta-image.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://travel-pro.lu/" />
    <meta property="twitter:title" content="Travel Pro Blog: Insights and Trends in Business Travel Industry" />
    <meta property="twitter:description" content="Dive into the Travel Pro blog for the latest information, trends, and reports in the business travel industry. Get valuable tips for travelers and stay updated with our expert insights and advice." />
    <meta property="twitter:image" content="https://travel-pro.lu/travelpro-meta-image.png" />

    <link rel="apple-touch-icon" sizes="180x180" href="<%= require('/public/assets/favicon/apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= require('/public/assets/favicon/favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= require('/public/assets/favicon/favicon-16x16.png') %>">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Cookiebot -->
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="0b502577-0cf0-4d39-b511-8d9c5d2e1b2b" type="text/javascript" async></script>
    <!-- END Cookiebot -->

    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NTB3J5D');
    </script> 
    <!-- End Google Tag Manager -->
    
  </head>
  <body>
    <!-- Google Tag Manager (noscript) --> 
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTB3J5D" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> 
    <!-- End Google Tag Manager (noscript) -->
    <a class="tp-skiplink" href="#content">Go to content</a>
    
    <tp-header-en active="blog"></tp-header-en>

    <main class="tp-main">
      <div class="tp-section">
        <div class="tp-container">
          <h1 class="tp-heading tp-heading--h1 mb-40 mb-md-80">Travel Pro blog</h1>
          <h2 class="tp-heading tp-heading--h2 mb-24 mb-md-40">Latest article</h2>

          <article class="tp-article-card tp-article-card--jumbotron">
            <a href="https://travel-pro.lu/en/index.html">
              <div class="tp-article-card__image">
                <img src="<%= require('/public/assets/images/blog/2024-01-10/new-website.png') %>" alt="New Website">
              </div>
              <div class="tp-article-card__content">
                <p class="tp-article-card__timer"><i class="icon-time" aria-hidden="true"></i> 3 min reading</p>
                <div class="mb-24">
                  <span class="tp-badge tp-badge--primary-100 mr-8">B2B</span>
                  <!-- IN CASE 2ND BADGE
                    <span class="tp-badge tp-badge--primary-100">TECH</span>
                  -->
                </div>
                <h3 class="tp-heading tp-heading--h4 mb-16">New Travel Pro website</h3>
                <p class="tp-paragraph tp-paragraph--16 mb-40">
                  To kick off this new year, we are excited to introduce you to our new website travel-pro.lu! The website has been developed to be accessible, as it will soon be a regulation for all European websites.
                </p>

                <span class="tp-button tp-button--outlined tp-button--primary-900">Discover more <i class="icon-arrow-right-long" aria-hidden="true"></i></span>
              </div>
            </a>
          </article>

          <h2 class="tp-heading tp-heading--h2 mt-88 mb-24">Latest article</h2>
          <p class="tp-paragraph tp-paragraph--16 mb-16"><strong>Filter by theme</strong></p>

          <div id="filters" class="h-sm mb-32">
            <select id="category">
              <option value="ALL">ALL</option>
              <option value="B2B">B2B</option>
              <option value="B2C">B2C</option>
              <option value="MICE">MICE</option>
              <option value="TECH">TECH</option>
            </select>
          </div>

          <div class="d-flex column-gap-16 mb-32 d-f-sm">
            <button class="tp-button tp-button--primary-900 tp-button--sm" data-filter="ALL">ALL</button>
            <button class="tp-button tp-button--neutral-100 tp-button--sm" data-filter="B2B">B2B</button>
            <button class="tp-button tp-button--neutral-100 tp-button--sm" data-filter="B2C">B2C</button>
            <button class="tp-button tp-button--neutral-100 tp-button--sm" data-filter="MICE">MICE</button>
            <button class="tp-button tp-button--neutral-100 tp-button--sm" data-filter="TECH">TECH</button>
          </div>
          <div class="tp-flex row-gap-24" id="articles-list" data-lang="en" data-url="/" data-limit="9"></div>

          <div class="text-center">
            <button class="tp-button tp-button--outlined tp-button--primary-900 mt-40 mt-md-80" id="load-more">Load more <i class="icon-chevron-down" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </main>

    <tp-footer-en active="blog"></tp-footer-en>
  </body>
</html>
