<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="Viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">

    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="apple-touch-icon" sizes="180x180" href="<%= require('./assets/favicon/apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= require('./assets/favicon/favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= require('./assets/favicon/favicon-16x16.png') %>">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <a class="tp-skiplink" href="#content">Go to content</a>
    
    <tp-header active="blog"></tp-header>

    <tp-footer></tp-footer>
  </body>
</html>
