<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="Viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">

    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <!-- GetResponse Analytics -->
    <script type="text/javascript">
      (function(m, o, n, t, e, r, _){
              m['__GetResponseAnalyticsObject'] = e;m[e] = m[e] || function() {(m[e].q = m[e].q || []).push(arguments)};
              r = o.createElement(n);_ = o.getElementsByTagName(n)[0];r.async = 1;r.src = t;r.setAttribute('crossorigin', 'use-credentials');_.parentNode .insertBefore(r, _);
          })(window, document, 'script', 'https://newsletter.slg.lu/script/04309704-bfba-4e18-97d8-c7fc88928bfc/ga.js', 'GrTracking');
    
    
      </script>
    <!-- End GetResponse Analytics -->
  </head>
  <body>
    <tp-header active="contact"></tp-header>

    <main class="tp-main">
      <div class="tp-section">
        <div class="tp-container">
          <div class="tp-flex">
            <div class="tp-flex__col tp-flex__col-4">
              <h1 class="tp-heading tp-heading--h1 mb-40">Talk to Travel Pro team</h1>
              <p class="tp-paragraph tp-paragraph--16 mb-24">
                Do you have any questions? Would you like to see a demo of our services? 
                We've got the answers, just leave us your details and the Travel Pro sales team will get back to you as soon as possible.
              </p>
              <p class="tp-paragraph tp-paragraph--16 mb-24">
                You are already a <strong>Travel Pro client?</strong> Request a travel, compensation or leave feedback
              </p>
              <a href="#" class="tp-link">Access the forms below <i class="icon-arrow-down-long" aria-hidden="true"></i></a>
            </div>

            <div class="tp-flex__col tp-flex__col-7">
              <div class="pa-48 br-16" style="background-image: url('<%= require('./assets/images/travelpro-background-9.png') %>')">
                <getresponse-form form-id="a02ef05d-563d-476c-9fa5-ee6e8587b8eb" e="0"></getresponse-form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <tp-footer></tp-footer>
  </body>
</html>
