<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="Viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">

    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
  </head>
  <body>
    <header role="banner" class="tp-header">
      <div class="tp-header__row-1">
        <div class="tp-container">
          <div class="tp-header__row-1__left">
            <a href="#"><img src="<%= require('./assets/images/travelpro-logo-header.svg') %>" alt=""></a>
          </div>
          <div class="tp-header__row-1__right">
            <a href="#" class="tp-link d-f-lg">Careers <i class="icon-arrow-up-right-from-square"></i></a>
            <a href="#" class="tp-link d-f-sm"><i class="icon-globe"></i> EN</a>

            <a href="#" class="tp-button tp-button--primary h-xs d-f-sm h-lg">Request Demo</a>

            <button class="tp-nav-mobile-trigger h-lg" aria-label="Ouvrir menu" id="triggerNavMobile" aria-expanded="false"><i class="icon-bars"></i></button>
          </div>
        </div>
      </div>

      <div class="tp-header__row-2">
        <div class="tp-container">
          <div class="tp-header__row-2__left">
            <nav class="tp-nav">
              <ul>
                <li class="tp-nav__item tp-nav__item--selected"><a href="#">Home</a></li>
                <li class="tp-nav__item"><a href="#">Business Travel</a></li>
                <li class="tp-nav__item"><a href="#">About us</a></li>
                <li class="tp-nav__item"><a href="#">Blog</a></li>
                <li class="tp-nav__item"><a href="#">Contact us</a></li>
              </ul>
            </nav>
            <a href="#" class="tp-link h-lg">Careers <i class="icon-arrow-up-right-from-square"></i></a>
          </div>
          <div class="tp-header__row-2__right d-lg">
            <a href="#" class="tp-button tp-button--primary">Request Demo</a>
          </div>
        </div>
      </div>
    </header>

    <footer class="tp-footer">
      <div class="tp-container">
        <div class="tp-flex">
          <div class="tp-flex__col tp-flex__col--3">
            <p class="tp-paragraph tp-paragraph--14 mb-24">Links</p>
            <nav class="tp-nav-footer">
              <ul>
                <li><a href="#" class="tp-link">Home</a></li>
                <li><a href="#" class="tp-link">Business Travel</a></li>
                <li><a href="#" class="tp-link">About us</a></li>
                <li><a href="#" class="tp-link">Blog</a></li>
                <li><a href="#" class="tp-link">Contact us</a></li>
                <li><a href="#" class="tp-link">Request demo</a></li>
              </ul>
            </nav>
          </div>
          <div class="tp-flex__col tp-flex__col--3">
            <p class="tp-paragraph tp-paragraph--14 mb-24">Legal</p>
            <nav class="tp-nav-footer">
              <ul>
                <li><a href="#" class="tp-link">Terms of use <i class="icon-arrow-up-right-from-square"></i></a></li>
                <li><a href="#" class="tp-link">Privacy policy <i class="icon-arrow-up-right-from-square"></i></a></li>
                <li><a href="#" class="tp-link">Cookies</a></li>
                <li><a href="#" class="tp-link">Sitemap</a></li>
                <li><a href="#" class="tp-link">Accessibility</a></li>
              </ul>
            </nav>
          </div>
          <div class="tp-flex__col tp-flex__col--3">
            <p class="tp-paragraph tp-paragraph--14 mb-24">Contact Travel Pro</p>
            <nav class="tp-nav-footer">
              <ul>
                <li><a href="mailto:003524695451" class="tp-link"><i class="icon-phone"></i> +352 46 95 45 - 1</a></li>
                <li><a href="#" class="tp-link"><i class="icon-location"></i> 430-434, route de Longwy L-1940 Luxembourg</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
